.tableau-section #header a#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 0 20px 40px;
}

h1 {
  color: #02b7d4;
  font-family: Roboto;
  font-size: 4rem;
  padding-top: 0.5rem;
}

#submitButton {
   background: #008aa1 none repeat scroll 0 0;
   box-shadow: 4px 4px 12px #cccccc;
   color: white;
   display: inline-block;
   font-family: Roboto,monaco,monospace;
   font-size: 16px;
   height: 26px;
   margin-right: 3px;
   padding-left: 10px;
   padding-top: 4px;
   padding-bottom: 28px;
   text-align: left;
}

