<div class="wrap">

  <div class="contact">

    <div class="newsletter">
      <input type="text" value="" placeholder="Sign up for updates with your email address...">
      <input type="button" name="name" value=">">
    </div>

    <nav class="social">
      <a href="#">F</a>
      <a href="#">G</a>
      <a href="#">M</a>
      <a href="#">L</a>
      <a href="#">T</a>
    </nav>

  </div>

  <nav class="footerBar">
    <a href="#">Connect to AACT</a>
    <a href="#">Database Download</a>
    <a href="#">Learn about AACT</a>
    <a href="#">Points to Consider</a>
    <a href="#">Contact Us</a>
  </nav>

  <div class="disclaimer">
    <p>
      <b>DISCLAIMER</b>: <i>CTTI encourages the use of all materials listed on this site in the pursuit of improving the clinical trials enterprise. Our recommendations, tools, meeting summaries, and more are available to the public for free. We do ask that you acknowledge the source whenever using or referencing CTTI materials. Read our Citation Policy here.</i>
    </p>
  </div>

  <div class="copyright">
    <p>
      Copyright © CTTI 2016.
    </p>
  </div>
</div>
