<h2><%= @load_event.event_type.humanize %></h2>

<p>Completed in <%= @load_event.load_time %></p>

<p>New studies: <%= @load_event.new_studies %></p>
<p>Changed studies: <%= @load_event.changed_studies %></p>


