!.keep
*.DS_Store
*.swo
*.swp
server.env
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/public/static
/tags
/vendor
/tmp/*
.env
*.secret
.byebug_history
data
/public/static/documentation/schema.dot
/storage
/downloads