// Brand Palette
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$primary:               #008aa1;
$secondary:             #02b7d4;
$accent:                #ec3e37;

$red:                   #b71417;
$maroon:                #680001;
$turquoise:             #26657a;



// UI
// ••••••••••••••••••••••••••••••••••••••••••••••••••
$grey:                        #57585c;
$light-grey:                  rgb(204,204,204);
$white:                       #fff;
$bg-color:                    $white;
$bg-grey:                     #dfdfdf;

$text-color:                  $grey;

$link-color:                  $primary;
$link-visited-color:          $link-color;
$link-hover-color:            darken($link-color, 5);

$button-color:                $link-color;
$button-hover-color:          $link-hover-color;
$button-text-color:           $white;

$border-radius:               20px;


// Semantic Colors
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$success: $turquoise;
$success-hover: darken($success, 10);

$warning: $accent;
$warning-hover: darken($warning, 10);

$danger: $red;
$danger-hover: darken($danger, 10);

// Typography
// ••••••••••••••••••••••••••••••••••••••••••••••••••

$font-sans:             'Roboto';
$font-sans-secondary:   'Roboto';
$font-sans-tertiary:    'Roboto';
$font-serif:            'Georgia';
