section.pointsToConsider {
  background-color: $white;
  padding-bottom: 400px;

  h1 {
    padding-top: 80px;
  }

  h2 {
    padding-top: 40px;
  }

  h4 {
    padding-top: 30px;
  }

  table.pointsToConsider, ul.pointsToConsider {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1rem;
  }

  div.wrap {
    @include columnify(10, true);
    display: block;
    margin: 0 auto;
    font-family: Roboto;
  }
}
