@import "variables";
@import "library";
section.pointsToConsider {
  background-color: $white;
  padding-bottom: 400px;

  h1 {
    padding-top: 80px;
  }

  h2 {
    padding-top: 40px;
  }

  h4 {
    padding-top: 30px;
  }

  div.wrap {
    display: block;
    margin: 0 auto;
    font-family: Roboto;
  }
}
