@import "variables";
@import "library";
section.createDbViaGui {

  #input-toggle {
    display: none;
    visibility: hidden;
  }

  #toggle:checked ~ #expand {
    height: 550px;
  }
  #toggle:checked ~ label::before {
    content: "Hide GUI Instructions";
    width: 260px;
  }

  #expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.6s;
    background-color: #FFF;
  }

  label {
    display: block;
    padding: 0.6em;
    text-align: left;
    border-bottom: 1px solid #CCC;
    color: #666;
  }
  label:hover {
    color: #000;
  }
  label::before {
    font-family: Roboto, monaco, monospace;
    font-weight: bold;
    font-size: 16px;
    color: white;
    content: "View GUI Instructions";
    width: 260px;
    text-align: left;
    padding-top: 4px;
    padding-left: 10px;
    vertical-align: text-center;
    display: inline-block;
    height: 26px;
    margin-right: 3px;
    @include box-shadow(4px 4px 12px $light-grey);
    background: #008aa1;
  }

}
