section.downloadAact {
  padding-bottom: 500px;
  background-color: $white;

  section.instructions {
    background-color: $white;
  }

  section.downloadIntro {
    margin-bottom: 60px;
  }
}

section.snapshots {
  padding: 4rem 0rem;
  padding-bottom: 500px;
  background-color: $white;

}
