table.file-archive {

  width: 90%;
  margin: 10px auto;
  padding: 4px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  padding-bottom: 2px;
  font-family: Roboto;

th.file-archive {
  font-size: 20px;
}

td.file-archive {
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  padding: 2;
}
}
