
section.homeHero {
  display: block;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  position: relative;
  text-align: center;
  padding-bottom: 500px;

  h1 {
    padding: 0px;
    margin: 0px;

    @include MQ(M) {
      margin-bottom: 2rem;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  div.copy {
    @include columnify(8, true);
    display: block;
    margin: 0 auto;
    padding: 4rem 3rem;
  }


  a.button {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  ul {
    list-style: none;
  }
}


div.circleButtons {
  margin-bottom: 4rem;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);

  a {
    width: 100px;
    margin: 0px 40px;
    @include display-flex;
    @include align-items(center);
    @include flex-direction(column);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
  }

  i {
    display: block;
    color: $white;
    position: absolute;
    @include center(xy);
    font-size: 2.2rem;
  }

  div.iconWrap {
    background-color: $primary;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
  }
}


div.heroPanelRow {
  background-color: $white;
  @include display-flex;
  padding: 3rem 6rem;

  span.type {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid $primary;
    color: $primary;
    padding-bottom: 1rem;
    font-weight: bold;
  }

  span.title {
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: 1.2rem;
  }

  i.fa {
    font-size: 15rem;
    position: absolute;
    bottom: -30px;
    right: -20px;
    opacity: .2;
  }

  a {
    padding: 7rem 1rem;
    @include box-shadow(3px 3px 11px $light-grey);
    text-align: left;
    position: relative;
    text-transform: none;
    font-weight: normal;
    font-size: 1.3rem;
    overflow: hidden;

    &.big {
      width: 60%;
      background-color: $secondary;
      border-color: $secondary;

      &:hover {
        background-color: darken($secondary, 5);
        border-color: darken($secondary, 5);
      }
    }

    &.small {
      width: 40%;

      span.type {
        border-bottom: 2px solid $secondary;
        color: $secondary;
      }
    }

    &.light {
      background-color: rgb(249,249,249);
      border-color: rgb(249,249,249);
      color: $grey;

      &:hover {
        background-color: darken(rgb(249,249,249), 10);
        border-color: darken(rgb(249,249,249), 10);
      }

      span.type {
        border-bottom: 2px solid darken(rgb(249,249,249), 25);
        color: darken(rgb(249,249,249), 25);
      }
    }
  }
}
