
section.homeHero {
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  position: relative;

  img.homeBg {
    display: none;

    @include MQ(M) {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      @include center(xy);
      opacity: .1;
    }
  }

  h1 {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-right: 20px;

    span {
      font-weight: lighter;
      font-size: 3.3rem;
    }

    @include MQ(M) {
      margin-bottom: 2rem;
    }
  }

  img.logo {
    width: 60px;
  }

  h2 {
    font-size: 1.4rem;
  }

  p, a {
    font-size: 1rem;
  }

  p {
    margin-bottom: 40px;
  }

  a.button {
    margin: 0px;
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: center;

    @include MQ(M) {
      margin-right: 20px;
      margin-bottom: 80px;

    }
  }

  div.heroHead {

    @include MQ(M) {
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(center);
      margin-bottom: 75px
    }

  }

  div.logoBlock {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    margin-bottom: 2rem;

    @include MQ(M) {
      margin-bottom: 0px;
      @include flex-direction(column);
      @include align-items(left);
    }
  }

  nav {
    margin-bottom: 40px;
    text-align: center;

    i {
      color: $white;
      font-size: 42px;
      display: block;
      margin-bottom: 5px;
      position: absolute;
      @include center(xy);
      @include transition(all 250ms ease);
    }

    span {
      color: $secondary;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: absolute;
      @include center(x);
      bottom: -25px;
      width: 100%;
      @include transition(all 250ms ease);
      text-align: center;
    }

    @include MQ(M) {
      margin-bottom: 0px;

      i {
        font-size: 62px;
      }

      span {
        bottom: -25px;
      }
    }

    @include MQ(L) {
      span {
        opacity: 0;
      }
    }
  }

  a.navItem {
    display: inline-block;
    border: 1px solid $primary;
    border-radius: 50%;
    position: relative;
    background-color: $secondary;
    margin: 0px;
    width: 70px;
    height: 70px;
    margin: 0px 10px;

    @include MQ(M) {
      margin: 0px;
      width: 100px;
      height: 100px;
      margin-left: 2rem;
    }

    &:hover {
      span {
        opacity: 1;
      }

      i {
        font-size: 68px;
      }
    }
  }

  @include MQ(M) {

    h1 {
      margin: 0px;
    }

    h2 {
      font-size: 3.25rem;
      max-width: 70%;
    }

    p, a {
      font-size: 1.25rem;
    }

    p {
      max-width: 60%;
      margin-bottom: 40px;
    }
  }
}

div.homeContent {
  position: relative;
}

aside.docsMenu {
  padding-top: 1rem;

  a {
    display: block;
    margin-bottom: 5px;

    &.menuRoot {
      font-weight: bold;
      padding-top: 10px;
      font-size: 1.1rem;
    }
  }

  @include MQ(L) {
    @include columnify(3);
    position: absolute;
    top: 0;
    left: 20px;
  }

  &.fixed {
    position: fixed;
  }
}


section.documentation {
  margin-bottom: 700px;

  h2 {
    font-size: 2.2rem;
    padding: 0px;
    margin-bottom: 1rem;
    margin-top: 8rem;
    padding-top: 1rem;
    border-top: 1px solid #bfbfbf;

  }

  h4 {
    font-size: 1.3rem;
    padding: 0px;
    margin-bottom: 1rem;
    margin-top: 6rem;
    padding-top: 1rem;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  b {
    font-size: 1.1rem;
    display: block;
    font-weight: bold;
    font-family: $font-sans;
    margin-bottom: 1rem;
    padding-top: 2rem;
  }

  section {
    margin-bottom: 20px;
  }

  @include MQ(L) {
    @include columnify(9, true);
    @include offset(3);
  }
}

section.overview {
  h2 {
    margin-top: 0px;
  }
}

div.credentialRow {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  margin-bottom: 10px;

  p {
    margin-bottom: 0px;
    margin-right: $gutter_width;
  }

  pre {
    margin: 0px;
    padding: 10px;
  }
}

td, th {
  padding:10px;
  border:solid 1px #eee;
  font-size: 14px;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px;
  font-size: 12px;
}
