div.basicHero {
  padding: 100px 0px;
}

section.learnMore {
  background-color: $white;

  div.overview {
    background-color: $white;
    padding-bottom: 500px;
  }
}

div.quickLinks {
  display: block;
  background-color: $white;
  @include display-flex;
  @include flex-wrap(wrap);
  width: 100%;

  div.wrap {
    @include columnify(11, true);
  }

  div.quickLink {
    width: 50%;
    display: inline-block;
    padding: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    color: $secondary;
    text-align: center;
    font-weight: normal;
  }
}
