@import "variables";
@import "library";

div.basicHero {
  padding: 40px 0px;
}

section.learnMore {
  background-color: $white;

  div.overview {
    background-color: $white;
  }
}

div.quickLinks {
  display: block;
  background-color: $white;
  @include display-flex;
  @include flex-wrap(wrap);
  width: 100%;

  div.quickLink {
    width: 50%;
    display: inline-block;
    padding: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    color: $secondary;
    text-align: center;
    font-weight: normal;
  }
}
