@import "variables";
@import "library";

#pointsToConsider {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.0rem;
  border-style: solid;
  box-shadow: 10px 10px 5px #888888;
  padding: 2;
}

th.pointsToConsiderHeader {
  background-color: $primary;
  color: white;
  font-weight: normal;
  font-size: 1.4rem;
}

tr.even td {
  background-color: $white;
  color: black;
}

tr.odd td {
  background-color: rgb(240,240,240);
  color: black;
}
