@import "variables";
@import "library";

.sanityCheckSection {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  margin-top: 50px;
}

.tableReportSection {
  border: 1px solid $secondary;
  border-radius: $border-radius;
  padding: 30px;
  margin-top: 40px;
}

ul.stats {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid $bg-grey;

  li {
    font-size: 16px;
  }
}

h5.columnStatsHeader {
  font-size: 20px;
  margin: 0;
}
