@import "variables";
@import "library";
#resultGroup {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.2rem;
  border-style: solid;
  box-shadow: 10px 10px 5px #888888;
  padding: 2;
}

th.reultGroup {
  background-color: $primary;
  color: white;
  font-weight: normal;
  font-size: 1.4rem;
}

tr.even {
  background-color: $white;
  font-size: 1.2rem;
  color: black;
}

tr.odd {
  background-color: rgb(230,230,230);
  font-size: 1.2rem;
  color: black;
}

td.schemaID {
  text-align: center;
}

