@import "variables";
@import "library";
section.tableDictionary {
  display: block;
  background-color: $white;
  @include display-flex;
  @include flex-wrap(wrap);
  width: 100%;
}

table.regularDisplay {
  box-shadow: 6px 6px 5px #888888;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;

th {
  font-size: 1.0em;
  background-color: $secondary;
  color: white;
}

td {
  padding: 6px 4px 6px 4px;
  font-size: .8em;
}

td.tableName {
  font-weight: bold;
}

td.numberType {
  text-align: right;
}

}
