
html,
body {
   margin: 0;
   padding: 0;
   height: 40%;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 12px;
}

.header {
   width:100%;
   min-width: 130px;
   overflow: auto;
   height: 32px;
   max-height: 32px;
   background-color: #c0c0c0;
}

.header form, p {
  display: inline-block;
}

.headerButton {
  margin-left: 20px;
}

.tools {
  width: 10px;
  height: 30px;
}

.main {
  position: absolute;
  height: 250px;
  left:30px; top:44px; right:0; bottom:0;
}

#fetchedData {
  /*height:40%;*/
  overflow: auto;
  margin-top: 10px;
}

/*Table Formatting*/
.tableCell {
  border-left: solid 1px black;
  padding-right: 5px;
  padding-left: 5px;
}

tr {
  border-bottom: solid 1px black;
}

table {
  border-collapse: collapse;
  border: solid 1px black;
}


#host-iframe {
  border: 1px gray solid;
}

#footerSpacer {
  height: 115px;
}

#footerHolder {
  position: fixed;
  bottom: 0;
  left: 1px;
  right: 1px;
  height: 114px;
  border: 1px solid black;
}

.footerHead {
  height: 24px;
  background: #c0c0c0;
}

.footerHead form {
  display:inline-block;
}

#footer {
   background:white;
   overflow: auto;
   height: 90px;
   font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

