<div class="wrap">
  <h1>Please tell us what you're doing...</h1>
  <p>
  Please share discoveries, tools, queries, etc. that you've developed while using the AACT database.  We hope others can learn from your experience, and perhaps your effort will be the seed that sparks a new initiative that furthers your work and leads to even more interesting discoveries.
  </p>
  <%= render 'form' %>
  <p><%= link_to 'changed my mind - back out', use_cases_path %></p>
</div>
