header {
  background-color: $white;
  opacity: 1;
  padding: 10px 0px;
  width: 100%;

  div.wrap {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  img.logo {
    max-width: 200px;
  }

  nav {
    @include display-flex;
    text-align: center;
  }

  a.navItem {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: $gutter_width;
  }

}
