header {
  background-color: $white;
  opacity: 1;
  padding: 10px 0px;
  width: 100%;

  div.wrap {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  img.logo {
    max-width: 400px;
  }

  nav {
    @include display-flex;
    text-align: center;
  }

  div.navContainer {
    @include display-flex;
    @include flex-direction(column);
    text-align: right;
    margin: 2rem 0px;
  }

  div.newsletter {
    width: 100%;
    margin-bottom: 40px;

    input[type="text"] {
      background-color: rgb(249,249,249);
    }
  }

  a.navItem {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: $gutter_width*2;

    i {
      margin-right: 4px;
      font-size: 1.1rem;
    }
  }

}
