@import "variables";
@import "library";
$gutter_width: 20px;
header {
  background-color: $white;
  opacity: 1;
  padding: 10px 0px;
  width: 100%;

.user-logged-in {
    border-bottom: thick solid black;
    border-width: 1px;
    margin: 0px 0px;
    padding: 0rem .2rem 0rem 1rem;
    font-size: 1rem;
    color: black;
    text-align: right;
}
.user-info {
    //display:none;  //  remove this when we are ready to make user registration available
    margin: 0px 0px;
    padding: 0rem .2rem 0rem 1rem;
    font-size: 1rem;
    position: right;
    text-align: right;
}

.user-button {
    font-size: 1rem;
    padding: .4em;
}
  div.wrap {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  img.logo {
    max-width: 400px;
  }

  nav {
    @include display-flex;
    text-align: center;
  }

  div.navContainer {
    @include display-flex;
    @include flex-direction(column);
    text-align: right;
    margin: 2rem 0px;
  }

  div.newsletter {
    width: 100%;
    margin-bottom: 40px;

    input[type="text"] {
      background-color: rgb(249,249,249);
    }
  }

  h1.announcement {
    color: black;
    font-family: "Roboto";
  }

  div.announcement {
    margin-bottom: 0rem;
    text-align: center;
    border: 1px solid #e9e9e9;
    padding-top: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 140px;
    max-width: 70%;
    font-family: "Roboto";
    background-color: rgb(240,240,240);
    @include box-shadow(3px 3px 11px $grey);
  }

  ul.announcement {
    list-style-type: none;
    font-family: "Roboto";
    line-height: 1.4;
    font-weight: 100;
    color: #800000;
  }

  a.navItem {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: $gutter_width*2;

    i {
      margin-right: 4px;
      font-size: 1.1rem;
    }
  }

}
