@import "../base/variables";
@import "../base/library";

.centerImage {
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
}

.innerQuotedText {
  font-family: verdana;
  font-size: 12px;
  font-style: italic;
  color: #0000A0;
}
.quotedText {
  box-shadow: 6px 6px 6px #888888;
  font-family: verdana;
  font-size: 12px;
  font-style: italic;
  color: #0000A0;
  padding: 14px;
  margin: 20px;
}
