<html>
<head>
  <title>AACT Web Data Connect</title>
  <meta http-equiv="Cache-Control" content="no-store" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="https://connectors.tableau.com/libs/tableauwdc-2.2.latest.js" type="text/javascript"></script>
  <link rel="stylesheet" media="screen" href="/stylesheets/tableau/style.css" />
</head>

<body class='tableau-section container-fluid'>
    <h1>Analysis via Tableau Public</h1>
    <div class="container container-table">
        <div class="row">
            <div class="col-md-2">
              <button type="button" id="submitButton" class="btn btn-success">Retrieve Studies</button>
            </div>
        </div>
    </div>
</body>

</html>
