    <h3>AACT 2.0.5 <i>(July 26, 2017)</i></h3>
    <p>We now reboot the database before launching the full load to disconnect user connections. Previously, the full load would hang if active sessions were running, waiting for a quiet database before it would start.  </p>
