<h3>AACT 2.0.3 <i>(March 4, 2017)</i></h3>

<p>We reviewed database activity to identify suspicious activity and created a preliminary instance of the AWS <a target='_blank' href='https://aws.amazon.com/blogs/ses/goodbye-blacklist-introducing-the-suppression-list/'>suppression list</a> to block potential hackers.</p>

<p>The footer on each page of the AACT website includes: 'Read our Citation Policy here', but the actual link (https://www.ctti-clinicaltrials.org/briefing-room/citation-policy) was missing. This has been fixed.</p>

