 <h3>AACT 3.0.1 <i>(March 12, 2018)</i></h3>

  <h5>Made Improvements to Database Updater</h5>
  <p>We have improved the process that updates the AACT database by making the following changes:</p>
  <ul class='regularDisplay'>
    <li>
      <p>Each night we refresh a 'background' copy of the AACT database and then use <i>pg_restore</i> to copy it to the publicly accessible database. In the past, if people were logged into the public database, the <i>pg_restore</i> command hung and the refresh failed. To prevent this, all database sessions are now terminated before the update process runs the <i>pg_restore</i> command. This typically occurs around 1am EST.</p>
    </li>
    <li>
      <p>To prevent users from logging in while the refresh is under way, the process locks the public database before starting. Until now, if the refresh terminated unexpectedly, the database remained locked and inaccessible. This has been fixed. Now we automatically detect when the process fails, unlock the public database, and send an email notification to AACT administrators to report the failure.</p>
    </li>
    <li>
      <p>A validation test has been added to prevent the public database from being refreshed if the number of studies in the updated database appears to have decreased.</p>
    </li>
    <li>
      <p>The email notification that is automatically sent to AACT administrators after every database refresh now provides the list of NCT IDs that were added or updated. If the refresh failed, this is now noted in the subject line.</p>
    </li>
  </ul>

 <h5>Indexed NCT_ID Columns</h5>
 <p>Every table has an NCT_ID column that serves as the foreign key to the Studies table. These columns need to be indexed so that queries run within a reasonable amount of time. Until now, these indexes were missing.</p>

 <h5>Increased Diskspace on Database Server</h5>
 <p>The database server's 60 GB of diskspace is inadequate - usage exceeding 90%. We have upgraded the server's resources as follows: </p>
  <ul class='regularDisplay'>
    <li>
      <p>SSD Disk: 60 GB increased to 200 GB</p>
    </li>
    <li>
      <p>Memory: 16 GB increased to 32 GB</p>
    </li>
    <li>
      <p>CPUs: 6 vCPUs increased to 16 vCPUs</p>
    </li>
  </ul>


 <h5>Enhanced Release Notes Page</h5>
 <p>This 'Release Notes' page has been enhanced to include past release notes and facilitate documentation of future updates.</p>

 <h5>Switched Month/Year Date Conversion to Use Last Day of Month</h5>
 <p>If a date value includes only the month & year (no day), we save that value as a string in a column - these string-type columns have the suffix: 'month_year'.  The value is also saved to as a date-type value in a column with a _date suffix. (Example: Studies.start_month_year & Studies.start_date) We have been setting the day to the first day of the month in these date-type conversions. A user noted that the last day of the month is a perferred value.  They noted: <i>“these dates (start, completion, primary_completion) define when registration & results are due. A missing day value that defaults to the 1st of the month is the most restrictive and the last of the month is the most generous – for the purposes of compliance assessments”</i>  To be consistent we made this change for all data elements that can provide just month/day.</p>

 <h5>Added anticipated_posting_date to Outcomes Table</h5>
 <p> While changing the data value for month_year data elements, we noticed that the date-type value for Outcomes.anticipated_posting_date was not being provided. We have added this column to the Outcomes table.</p>

 <h5>Removed Previous Implementation of AACT</h5>
 <p>On February 9th, we decommissioned the AACT database hosted on Amazon Web Service and the AACT website hosted on Heroku.</p>

