 <h3>AACT 3.0.2 <i>(April 2, 2018)</i></h3>

  <h5>Post Daily Downloadable Versions of Static Database Copy and Pipe-Delimited File Set</h5>
  <p>Until now, downloadable copies of the AACT database (a static pg_dump copy and a set of 40 pipe-delimited flat files) have been created once a month and made available on the <a target='_blank' href='/download'>download page of the AACT website</a>. Several people have expressed interest in getting these downloadable resources more frequently. As of this release, a static copy of the database and a set of pipe-delimited files are created & published to the download page after each nightly load.</p>
  <p>To prevent the accumulation of hundreds of copies of the database through the year, these daily copies will be available for download only until the end of the month. Downloadable copies made on the first of the month will continue to be archived and made permanently available via the website. Both daily and monthly downloadable files can be retrieved from the <a target='_blank' href='/download'>download page of the AACT website</a>.</p>

  <p>(Prior to January, 2018, downloadable copies were created monthly, but not on the first. Going forward, these should be consistently created and dated on the first of each month.)</p>

  <h5>Publish the Database Update Schedule</h5>
  <p>A <a target='_blank' href='/update_policy'>page</a> displaying the schedule for updating the database has been added to the AACT website; it is accessible from a display card at the bottom of the <a target='_blank' href='/learn_more'>'Learn More' section</a> of the site</p>

  <h5>Retain History of Enumerations</h5>
  <p>Some columns contain a limited number of possible values; several such columns are enumerated in the <a target='_blank' href='/data_dictionary'>data dictionary</a>, displaying the total number of rows with each value and the percent distribution. For example: on Februrary 28, 2018 the enumeration summary for Designs.primary_purpose was:</p>

  <div align="center">
   <%= image_tag('sample_enumeration.png', :size => '260x180', :class => 'centerImage') %>
  </div>

  <p>We are now saving enumeration information to an administrative table so that trends can be identified with the passage of time. This information will also help us verify the accuracy of updates by comparing current percent distributions to previous distributions. If values change dramatically, an alert is sent to AACT administrators.</p>
