 <h3>AACT 3.1.0 <i>(May 7, 2018)</i></h3>

  <h5>Implement User Registration Feature</h5>
  <p>With this release, users of the live AACT database will need to register and receive an individual account to access the database. Individual accounts will replace the single common login-name/password (aact/aact) used by everyone until now. To register and get a database account, please visit the <a target='_blank' href='/'>AACT website</a> and click <i>Sign-Up</i> in the upper right corner of any page.</p>

  <div align="center">
    <%= image_tag('sign-up-screenshot.png', :size => '460x120', :class => 'centerImage') %>
  </div>

  <p>The registration process is automated and should take about 5 minutes. If you have questions or encounter problems, please send email with the word 'registration' in the subject line to <%= mail_to 'ctti-aact@duke.edu', 'ctti-aact@duke.edu' %>.</p>

  <p>While your login-name & password will change from aact/aact to the login-name/password you define, all other connection information (hostname, database name, and port number) will remain the same.</p>

  <p>Grace Period: The previous login-name/password (aact/aact) will remain active for several weeks while people become aware of this new requirement and get their accounts setup & tested.</p>

  <p>User registration will allow us to contact people about scheduled downtimes and other events. It also helps us monitor and manage database activity.</p>
  <p>Users do not need to register to download static copies of the database and the pipe-delimited flat file sets; if you only use these resources, you do not need to register.</p>
