 <h3>AACT 3.1.2 <i>(May 21, 2018)</i></h3>

  <h5>Add Pending_Results Table</h5>
  <p></p>

  <h5>Add Documents Table</h5>
  <p></p>

  <h5>Remove the Deprecated Data Attributes That Were Eliminated by ClinicalTrials.gov</h5>
  <p></p>

  <h5>Update Automated Test Scripts</h5>
  <p>Since ClinicalTrials.gov has made several changes to the API (adding new tags; removing deprecated tags), we needed to update the sample studies we use to run automated test scripts so that they correctly reflect the current structure of the ClinicalTrials.gov API.</p>

  <h5>Update SAS Connection Documentation</h5>
  <p>Inclusion of the database password was missing and the fonts were 'off'.</p>

  <h5>Automate Process to Save Tables to Schema Named: ctgov</h5>
  <p></p>

  <h5>Email User Restoration SQL to AACT Administrators</h5>
  <p>To ensure we are able to recover user account information if we need to, we now dump the SQL that can be used to recreate user-related tables and database account information to files and then email the files to AACT Administrators.</p>

  <h5>Collect Enumeration Data Twice a Month</h5>
  <p></p>

  <h5>Prefix Every Log Line with the Date/Time Stamp</h5>
  <p></p>

