<div class="wrap">

  <div class="basicHero">
    <h1>Connect to AACT using our RESTful API</h1>

  </div>

</div>

<section class="apiAccess">
  <div class="wrap">
    <h2>API</h2>
    <p>
      AACT also has an API in development. For more information on how to use the API, <a href="/api_docs" target="_blank">refer to the API documentation</a>.
    </p>

  </div>
</section>
