<div class="wrap">

  <div class="basicHero">
    <h1>Connect to AACT using our RESTful API</h1>
  </div>

</div>

<section class="apiAccess">
  <div class="wrap">
    <h2>API</h2>
    <p>
      AACT includes an API that is currently in development. Please refer to the <a href="/api_docs" target="_blank">API documentation</a> for more information.
    </p>

  </div>
</section>
