<section class="credentials">
  <b>Direct Database Access</b>

  <div class="credentialRow">
    <p>Hostname:</p>
    <pre><code><%= ENV["RDS_DB_HOSTNAME"] %></code></pre>
  </div>
  <div class="credentialRow">
    <p>Database name:</p>
    <pre><code><%= ENV["RDS_DB_READONLY_DBNAME"] %></code></pre>
  </div>
  <div class="credentialRow">
    <p>Username:</p>
    <pre><code><%= ENV["RDS_DB_READONLY_USERNAME"] %></code></pre>
  </div>
  <div class="credentialRow">
    <p>Password:</p>
    <pre><code><%= ENV["RDS_DB_READONLY_PASSWORD"] %></code></pre>
  </div>
</section>
