<section class="credentials" id="credentials">
  <h2>Credentials</h2>
  <p>
    Here are the credentials broken out by key and value. If you are using a command line tool other than psql, or any other database connection tool, these credentials will allow you to access the database:
  </p>
  <div class="credentialRow">
    <p>Hostname:</p>
    <pre><code><%= ENV["RDS_DB_HOSTNAME"] %></code></pre>
  </div>
  <div class="credentialRow">
    <p>Port:</p>
    <pre><code>5432</code></pre>
  </div>
  <div class="credentialRow">
    <p>Database name:</p>
    <pre><code><%= ENV["RDS_DB_READONLY_DBNAME"] %></code></pre>
  </div>
  <div class="credentialRow">
    <p>Username:</p>
    <pre><code><%= ENV["RDS_DB_READONLY_USERNAME"] %></code></pre>
  </div>
  <div class="credentialRow">
    <p>Password:</p>
    <pre><code><%= ENV["RDS_DB_READONLY_PASSWORD"] %></code></pre>
  </div>
</section>
