<section class="pgAdmin">
  <h3>pgAdmin</h3>
  <p>To add a new server connection to the pgAdmin tree, navigate to the "New Server Registration" menu, and enter the database credentials listed above. For more information on connecting to pgAdmin3, reference their <a href="https://www.pgadmin.org/docs/dev/connect.html" target="_blank">documentation</a>.</p>
</section>
