<div class="wrap">

  <!-- <div class="step">
    <span class="stepNumber">1</span>
    <h3 class="stepName">Download a Snapshot</h3>
  </div> -->

  </a>
  <p>You can download the latest pipe delimited export of the AACT database <a href="https://s3-us-west-2.amazonaws.com/aact2/csv_pipe_exports/<%= Date.today.strftime('%Y-%m-%d') %>-pipe-delimited-export" class="downloadCard">here</a>, which was captured on <%= Date.today.strftime("%B %e") %> at 3am Eastern Standard Time.</p>
  <!-- <p>
    To see a list of all pipe delimited exports from the past three months, visit the <a href="/snapshot_archive">pipe delimited  archive</a>.
  </p> -->
</div>
