<section class="rAccess">
  <b>R</b>
  <p>Make sure that you have R and RStudio installed on your machine.</p>
  <p>Run the following commands using the latest AACT 2.0 connection information</p>

  <pre>
    <code>install.packages("RPostgreSQL")</code>
    <code>library(RPostgreSQL)</code>
    <code>drv <- dbDriver("PostgreSQL")</code>
    <code>con <- dbConnect(drv, dbname="AACT2_Public_dbname",host="AACT2_host",port=5432,user="AACT2_Public_user",password="AACT2_Public_password")</code>
    <code>aact2_sample <- dbGetQuery(con,"select distinct study_type from studies")</code>
    <code>write.csv(aact2_sample, file='aact2_sample.csv')</code>
  </pre>
</section>
