<section class="rAccess">
  <b>R</b>
  <p>Make sure that you have R and RStudio installed on your machine.</p>
  <p>Run the following commands using the latest AACT 2.0 connection information</p>

  <pre>
    <code>> install.packages("RPostgreSQL")</code>
    <code class="output">trying URL 'https://cran.rstudio.com/bin/macosx/mavericks/contrib/3.3/RPostgreSQL_0.4-1.tgz'</code>
    <code class="output">Content type 'application/x-gzip' length 306320 bytes (299 KB)</code>
    <code class="output">==================================================</code>
    <code class="output">downloaded 299 KB</code>
    <code>> library(RPostgreSQL)</code>
    <code class="output">Loading required package: DBI</code>
    <code>> drv <- dbDriver('PostgreSQL')</code>
    <code>> con <- dbConnect(drv, dbname="<%= ENV["RDS_DB_READONLY_DBNAME"] %>",host="<%= ENV["RDS_DB_HOSTNAME"] %>",port=5432,user="<%= ENV["RDS_DB_READONLY_USERNAME"] %>",password="<%= ENV["RDS_DB_READONLY_PASSWORD"] %>")</code>
    <code>> aact2_sample <- dbGetQuery(con,"select distinct study_type from studies")</code>
    <code>> write.csv(aact2_sample, file='aact2_sample.csv')</code>
  </pre>
</section>
