<div class="wrap">

  <div class="basicHero">
    <h1>Connect to AACT using SAS</h1>

  </div>

</div>

<section class="sasAccess">
  <div class="wrap">
    <p>There are two ways to access the AACT database using SAS.</p>
    <p>The first is to connect directly to the PostgreSQL database using the credentials provided above.</p>
    <p>The second is to import the pipe delimited CSV copy of the database made available from the AACT website.</p>

  </div>
</section>
