@import "variables";
@import "library";
button, input[type="submit"], a.button {
  background-color: $button-color;
  color: $button-text-color;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border: 2px solid transparent;
  border-color: $button-color;
  cursor: pointer;
  outline: none;
  display: block;
  width: 80%;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $font-sans;
  font-weight: 100;

  &:hover {
    color: $button-text-color;
    background-color: $button-hover-color;
    border-color: $button-hover-color;
  }

  &:active {
    background-color: $button-hover-color;
  }

  &.navy {
    background-color: $secondary;

    &:hover {
      background-color: lighten($secondary, 5);
    }
  }

  &.transparent {
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }

  &.box {
    background-color: transparent;
    border: 2px solid $button-color;
    color: $button-color;

    &:hover {
      background-color: $button-color;
      color: $white;
    }
  }

  &.ghost {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    margin: 0 auto;
    @include display-flex;
    @include align-items(center);
    padding: 10px 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &.small {
    font-size: 1rem;
    padding: .5rem 1rem;
  }

  &.large {
    font-size: 18px;
    padding: 20px 40px;
    border-radius: $border-radius;

    i.fa {
      font-size: 50px;
      left: 30px;
    }

    &.hasIcon {
      padding-left: 90px;
    }
  }

  &.extraLarge {
    font-size: 18px;
    padding: 30px 60px;
    border-radius: $border-radius;
  }

  &.wide {
    padding: 20px 70px;
    font-size: 24px;
  }

  &.block {
    width: 100%;
  }

  @include MQ(M) {
    display: inline-block;
    width: auto;
  }
}
