@import "variables";
@import "library";
form {
  display: block;
  font-size: 1rem;
  border-radius: $border-radius;

  div.formHeader {
    padding: .5rem;

    h1,h2,h3,h4,h5,h6 {
      margin: 0px;
      padding: 0px;
    }
  }

  div.inputGroup {
    display: block;
    margin-bottom: 1rem;
    padding: .5rem;
  }

  div.userInfoReadOnly {
    background: $white;
    padding: 20px 30px 40px 10px;
    width: 100%;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-radius: $border-radius/2;
    cursor: not-allowed;
  }

  label {
    display: block;
    padding-bottom: .1rem;
    font-family: $font-sans;
    font-size: 1.2rem;
    font-weight: normal;
    outline: none;
    color: black;
    border-bottom: none;
  }

  span {
    padding-left: 10px;
    margin-bottom: 20px;
    display: block;
  }
  input, textarea, select {
    display: block;
    width: 100%;
    padding: .8rem;
    font-family: $font-sans;
    font-size: 1.2rem;
    font-weight: lighter;
    color: $secondary;
    outline: none;
    border-radius: $border-radius/2;

    &:active, &:focus {
      border-color: #333;
    }
  }

  textarea {
    resize: vertical;
    min-height: 80px;
  }
}
