$max_width: 960px;
$gutter_width: 20px;
$wrap_width: $max-width + ($gutter_width * 2);
$col_count: 12;
$gutter_count: $col_count - 1;
$total_gutter_width: $gutter_count * $gutter_width;

$col_width: ($max_width - $total_gutter_width) / $col_count;

@mixin columnify($num_cols, $is_last: false) {
    width: $col_width * $num_cols + $gutter_width * ($num_cols - 1);
    @if not $is_last {
        margin-right: $gutter_width;
    }
    display: inline-block;
    vertical-align: top;
}

@mixin offset($num_cols) {
    margin-left: ($col_width + $gutter_width) * $num_cols;
}




div.grid {
  @include columnify(6, true);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include center(x);
  font-size: 0px;

  div.column {
    @include columnify(1);
    background-color: #F4E562;
    opacity: .2;
    height: 100%;
    display: inline-block;

    &:last-of-type {
      margin: 0px;
    }
  }
}
