@import "variables";
@import "library";
@import "grid";
@import "buttons";
@import "forms";

* {
  @include border-box;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
  font-size: 0px;
  min-height: 100%;
  font-family: $font-serif;
  color: $text-color;
  // background-attachment: fixed;
  background: url("https://s3-us-west-2.amazonaws.com/cttiaact2/download.svg") #f9f9f9;
  @include bg-size(30px 20px);
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-bottom: 1rem;
  padding-top: .5rem;
  font-family: $font-sans;
}

p {
  margin: 0px;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  font-family: $font-sans-secondary;
}

b {
  margin: 0px;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  font-family: $font-sans-secondary;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: $link-color;
  font-family: $font-sans;

  &:hover {
    color: $link-hover-color;
  }

  // &:visited {
  //   color: $link-visited-color;
  // }
}

img {
  max-width: 100%;
}


ul {
  padding: 0px;
  margin-bottom: 1rem;

  li {
    font-size: 1rem;
    margin-bottom: .5rem;
  }
}

h1 {
  font-size: 2.8rem;
  color: $secondary;

  @include MQ(S) {
    font-size: 2rem;
  }
}

h2 {
  color: $secondary;
  font-size: 1.8rem;

  @include MQ(S) {
    font-size: 1.8rem;
  }
}

h3 {  font-size: 1.4rem;  }

h4 {  font-size: 1.2rem;  }

h5 {  font-size: 1rem;  }

h6 {  font-size: .8rem;  }

ul, ol {
  padding: 0px;
  margin-bottom: 1rem;
  font-family: $font-sans;
  padding: 1rem 2rem;

  li {
    font-size: 1rem;
    margin-bottom: .5rem;
  }
}

pre {
  background-color: rgb(29, 31, 33);
  padding: 20px;
  border-radius: $border-radius;
  margin: 20px 0px;

  code {
    font-size: 1rem;
    max-width: 100%;
    padding-top: 10px;
    display: block;
    color: rgb(248, 248, 248);

    &.output {
      padding: 0px;
      padding-left: 20px;
      color: rgb(173, 198, 238);

    }
    &:first-of-type {
      padding-top: 0px;
    }

  }
}

%container {
  margin: 0 auto;
  max-width: $wrap_width;
  padding: 0 $gutter_width;
  position: relative;
}

div.wrap {
  @extend %container;
}
