<h1>Data validation failed for daily load</h1>

<% @errors.each do |error| %>
  <p><%= error[:validation_title] %> for <%= error[:nct_id] %></p>
  <p>Expected result: <%= error[:expected_result] %></p>
  <p>Actual result: <%= error[:actual_result] %></p>
<% end %>

