<h1>Data validation failed for daily load</h1>
<p><%= @error[:data_attribute] %> for <%= @error[:nct_id] %></p>
<p>Expected result: <%= @error[:expected_result] %></p>
<p>Actual result: <%= @error[:actual_result] %></p>

