<main>
  <section>
    <p id='dataDictionary'>
    The Data Dictionary (table below) provides detailed information about each data element in the AACT database. Every study-related table/column in the AACT relational database is represented as a row in this table. (AACT includes <a href=<%= @admin_schema_diagram %> target="_blank" onClick="ga('send','event','download','download schema')"  >a few administrative tables</a> that contain data not directly related to studies. Information about these tables is not included in the data dictionary. Information about these tables is available.)</p>
    <p>Click on the <i class='fa fa-book'></i> icon that appears at the beginning of the data element row to view the section of the NLM documentation that defines that particular data element. (The icon appears only for data element defined by NLM.)</p>
  </section>

  <input id="toggle" type="checkbox" style="display: none; visibility: hidden;" unchecked>
    <label for="toggle"></label>
  </input>

  <div id="expand">
    <section>
       <ul>
         <li>
           <p><b><i>Sort: </i></b> Click on a column header to sort the table alphabetically by the values in that column.</p>
         </li>
         <li>
           <p><b><i>Search/Filter: </i></b> An input box appears under each column name. Enter a search term in one or more boxes & press [Enter] to filter the display. You many enter values in multiple columns to further restrict a search.  The filter ignores case and will find all data elements that 'include' the term you enter (ie. your term does not need to be the complete value.)</p>
         </li>

         <li>
           <p><b><i>Search Support: </i></b> The first column provides icons that support filtering. The larger <i class='fa fa-search'></i> magnifying glass in the top row toggles display of the filter row. The smaller magnifying glass below it can be clicked to launch a search (same as pressing [Enter]). Clicking the <i class='fa fa-filter'></i> funnel icon will clear filter values.</p>
         </li>
         <li>
           <p><b><i>Authoritative Source: </i></b> Please refer to the National Library of Medicine's (NLM) documentation for official definitions of all <a href="https://prsinfo.clinicaltrials.gov/definitions.html" target="_blank">study/protocol</a> and <a href="https://prsinfo.clinicaltrials.gov/results_definitions.html" target="_blank">results data</a> data elements. The <i class='fa fa-book'></i> icon that appears at the beginning of a row will open a tab in your browser to display NLM information about the data element on that row.</p>
         </li>
         <li>
           <p><b><i>Horizontal Scroll: </i></b> All columns do not fit on a page; you may scroll horizontally to view and filter on additional information about the data elements.</p>
         </li>
         <li>
           <p><b><i>Source Column</i></b> This column identifies the XML tag path used to obtain values for the data element from ClinicalTrials.gov API. Click <a href='https://clinicaltrials.gov/ct2/html/images/info/public.xsd' target='_blank'>here</a> for the XML format specifications (xsd) and <a href='https://clinicaltrials.gov/show/NCT00006409?resultsxml=true' target='_blank'>here</a> to see an example of a study as provided by NLM via their API; this represents the source information used to populate the AACT database.</p>
         </li>
         <li>
           <p><b><i>Row Count Column</i></b> Each table's primary key definition includes the table's current row count.</p>
         </li>
         <li>
           <p><b><i>Enumerations Column</i></b> Some AACT table columns are used to store a discrete set of predefined terms (enumerations). For example, <b>Study.enrollment_type</b> can only contain values: <i>'Anticipated',</i> <i>'Actual'</i> or <i>null</i>. If the table/column is for a set of enumerations, the data dictionary presents each of the enumeration values along with the corresponding number of rows with that value.</p>

         </li>
       </ul>
     </section>
  </div>

</main>
