
<section class="dataDictionaryShow">

  <div class="wrap">
    <h1>AACT2 Data Dictionary</h1>
    <section class="dictionaryOverview">
      <h2>Overview</h2>
      <p>
        AACT2, sponsored by the Clinical Trials Transformation Initiative (CTTI), is freely available in the cloud to anyone interested in studying ClinicalTrials.gov information and developing their own visualizations.  This data dictionary provides detailed information about all AACT2 data elements and how they relate to ClinicalTrials.gov information. 
      </p>

      <ul>
        <li>
          a link to another AACT2 Knowledgebase page that displays the schema diagram (when clicked, it opens separately & takes focus, keeping this data dictionary page open)
        </li>
        <li>
          a link to let users download a copy of a spreadsheet (or link to Google Sheets?) that contains the data dictionary content provided here (when clicked, triggers download of the spreadsheet to the user’s local computer)
        </li>
        <li>
          links to NLM documentation:  Study Documentation and Results Documentation  (http://prsinfo.clinicaltrials.gov/definitions.html http://prsinfo.clinicaltrials.gov/results_definitions.html)
        </li>
      </ul>
    </section>

    <section class="dataDefinitions">
      <h2>Data Definitions</h2>
      <p>
        Detailed information about every table/column in AACT2

      </p>

      <p>
        This section is to provide users with detailed information about each data element in AACT2.  It will be presented an html-tables that provides detailed information about all tables in the AACT2 relational database. Every column in each AACT2 relational database table will be represented as a row in this html-table.
      </p>
      <div id="jsGrid"></div>
    </section>

    <section class="namingConventions">
      <h2>Naming Conventions</h2>
      <p>
         Identify rules, conventions, and the reasoning behind decisions we made when defining table/column names.
      </p>
    </section>


  </div>

</section>
