<section class="dataDictionaryShow">
  stylesheet_link_tag "jsgrid"
  stylesheet_link_tag "jsgrid.min"
  stylesheet_link_tag "jsgrid-theme"
  stylesheet_link_tag "jsgrid-theme.min"
  stylesheet_link_tag "dictionary/_grid"
  javascript_include_tag "jsgrid"
  javascript_include_tag "jsgrid.min"
  javascript_include_tag "dictionary"
  <div class="wrap">
    <h1>AACT Data Dictionary</h1>
    <%= render 'grid_instructions' %>
  </div>
  <div class="gridContainer">
    <div id="jsGrid"></div>
  </div>
</section>
