<section class="activityShow">
  stylesheet_link_tag "jsgrid"
  stylesheet_link_tag "jsgrid.min"
  stylesheet_link_tag "jsgrid-theme"
  stylesheet_link_tag "jsgrid-theme.min"
  stylesheet_link_tag "activity/_grid"
  javascript_include_tag "jsgrid"
  javascript_include_tag "jsgrid.min"
  javascript_include_tag "activity"
  <main>
    <h1>AACT Database Activity</h1>

    <div class="activityGridContainer">
      <div id="activityJsGrid"></div>
    </div>
  <main>

</section>
