

<section class="content" id="content">
  <h2>Content</h2>
  <h4 id="schema">Schema Design</h4>

  <h4 id="dataDictionary">Data Dictionary</h4>
  <div id="jsGrid"></div>
  
  <div id="dataDefinitions">


    <!-- <div class="dataDefinitionsTools">
      <h3>Authorities</h3>
      <input class="search" placeholder="Search" />
    </div>
    <table>
      <!-- IMPORTANT, class="list" have to be at tbody -->
      <!-- <thead>
        <th>Column</th>
        <th>NLM Label</th>
        <th>NLM Definition</th>
        <th>CTTI Notes</th>
      </thead>

      <tbody class="list">
        <tr>
          <td class="column">first</td>
          <td class="label">Oversight Authorities</td>
          <td class="definition">Oversight Authorities *: The name of each national or international health organization with authority over the protocol. Use the following format for each authority: country: organization name. Examples: United States: Institutional Review Board United States: Food and Drug Administration Germany: Federal Institute for Drugs and Medical Devices Australia: Therapeutic Goods Administration</td>
          <td class="notes"></td>
        </tr>
        <tr>
          <td class="column">second</td>
          <td class="label">Oversight Authorities</td>
          <td class="definition">Oversight Authorities *: The name of each national or international health organization with authority over the protocol. Use the following format for each authority: country: organization name. Examples: United States: Institutional Review Board United States: Food and Drug Administration Germany: Federal Institute for Drugs and Medical Devices Australia: Therapeutic Goods Administration</td>
          <td class="notes"></td>
        </tr>
        <tr>
          <td class="column">third</td>
          <td class="label">Oversight Authorities</td>
          <td class="definition">Oversight Authorities *: The name of each national or international health organization with authority over the protocol. Use the following format for each authority: country: organization name. Examples: United States: Institutional Review Board United States: Food and Drug Administration Germany: Federal Institute for Drugs and Medical Devices Australia: Therapeutic Goods Administration</td>
          <td class="notes"></td>
        </tr>
      </tbody>
    </table> -->
  </div>

  <h4 id="pointsToConsider">Points to Consider</h4>

  <h4 id="sampleSQL">Sample SQL</h4>

</section>
