<section class='createDbViaGui'>

  <input id='toggle' type='checkbox' style="display: none; visibility: hidden;" unchecked>
    <label for='toggle'></label>
  </input>

  <div id='expand'>
    <p></p>
    <p>PostgreSQL provides helpful instructions on their <a target='_blank' href="https://www.postgresql.org/download">website</a>. For Windows, the certified Interactive Installer by EnterpriseDB is a good option. It includes a graphical interface for PostgreSQL (pgAdmin). The following instructions are for Postgres Version 9.5.4, pgAdmin III, and SQL Shell (psql).</p>

    <h4>Using pgAdmin III</h4>

    <ul class='regularDisplay'>
      <li>Connect to the local Postgres server.</li>
      <li>Using pgAdmin, select a Server, right-click and select Connect, and enter the password to connect to the Postgres server. (The PostgresSQL selection no longer contains a red X.)</li>
      <li>Create an empty Postgres database and create/populate it from the static copy of AACT.</li>
      <li>Using pgAdmin, select Databases, right-click and select New Database.</li>
      <ul class='regularDisplay'>
        <li>Under the Properties tab, enter a name for the Database and click OK</li>
        <li>Select the new Database, right-click and select Restore</li>
        <li>In the File Options section, select the name of the AACT database package as the Filename and select postgres as the Rolename</li>
        <li>In the Restore Options #1 section, under the Don’t save header, select Owner and Privilege and click Restore. </li>
      </ul>
    </ul>

    <p>The restore is complete when the Restore database window shows “Process returned exit code 0.”</p>

    <p>Execute a sample query Using pgAdmin, select the Database and select SQL from the top menu.</p>

    <p>In the SQL window, type...</p>

      <p class='CodeRay'>
        <pre>
          <p class='code'>
            <span class='command-entry'> select count(*) from studies</i></span> <span class='command-prompt'></span>
          </p>
        </pre>
      </p>

    <p>Click the right-arrow in the top menu to execute the sql. The result shows in the results window.</p>


    <h4>Using psql</h4>

    <ul class='regularDisplay'>
      <li>Connect to the local Postgres server.</li>
      <li>Using psql, click Enter to confirm:</li>
      <li>Server [localhost] :  (Press [Enter]}</li>
      <li>Database [postgres] : </li>
      <li>Port [5432] :  (Press [Enter])</li>
      <li>Username [postgres] :  aact</li>
      <li>Enter the password you created for Password for user postgres:</li>
      <li>psql (9.5.4)</li>
      <li>Type "help" for help.</li>
      <li>postgres=# </li>
      <ul class='regularDisplay'>

  </div>
</section>
