
  <aside class="docsMenu">
    <a href="#overview" class="menuRoot">Overview</a>
    <ul>
      <li><a href="#background">Background</a></li>
      <li><a href="#objectives">Objectives</a></li>
      <li><a href="#contact">Contact Information</a></li>
    </ul>

    <a href="#faqs" class="menuRoot">Frequently Asked Questions</a>

    <a href="#access" class="menuRoot">Access</a>
    <ul>
      <li><a href="#directDb">Direct access using database clients</a></li>
      <li><a href="#directAnalytic">Direct access using analytic tools</a></li>
      <li><a href="#replicate">Replicate current database</a></li>
      <li><a href="#snapshots">Download archived snapshots</a></li>
      <li><a href="#csv">Download pipe delimited packages</a></li>
    </ul>

    <a href="#content" class="menuRoot">Content</a>
    <ul>
      <li><a href="#schema">Schema Design</a></li>
      <li><a href="#dataDictionary">Data Dictionary</a></li>
      <li><a href="#pointsToConsider">Points to Consider</a></li>
      <li><a href="#sampleSQL">Sample SQL</a></li>
    </ul>

    <a href="#gallery" class="menuRoot">Gallery</a>
    <ul>
      <li><a href="#visualizations">Visualizations</a></li>
      <li><a href="#publications">Publications</a></li>
    </ul>

  </aside>
