<main>

  <input id="toggle" type="checkbox" style="display: none; visibility: hidden;" unchecked>
    <label for="toggle"></label>
  </input>

  <div id="expand">
    <section>
      <p> </p>
        <div class="wrap">
          <table>
            <th>Error</th>
            <th>Possible Resolution</th>
            <tr>
              <td class='error'>"pg_restore: [archiver (db)] could not execute query: ERROR:  unrecognized configuration parameter "row_security"</td>
              <td>Upgrade your version of PostgreSQL to <%= ENV['DB_VERSION'] %>.</td>
            </tr>
          </table>
       </div>
      </p>
    </section>
  </div>

</main>

