  <div class="wrap">
    <table>
      <th>Created</>
      <th>Size</>
      <%= @files.each do |file| %>
        <tr>
          <td><a href="<%= file[:url] %>" onClick="ga('send','event','download','download database')"><%= file[:name] %></a></td>
          <td><%= file[:size] %></td>
        </tr>
      <% end %>
    </table>
  </div>
