
<section class="homeHero">
  <div class="wrap">
    <div class="heroHead">
      <h1>AACT2</h1>

      <nav>
        <a href="/api_docs" class="navItem" target="_blank">
          <i class="fa fa-book"></i>
          <span>API Documentation</span>
        </a>
        <a href="https://s3-us-west-2.amazonaws.com/aact2/csv-export-2016-06-28" class="navItem" target="_blank">
          <i class="fa fa-download"></i>
          <span>Download database</span>
        </a>
        <a href="https://github.com/SturdyCo/aact2" target="_blank" class="navItem">
          <i class="fa fa-github"></i>
          <span>Clone on Github</span>
        </a>
      </nav>

    </div>

    <h2>AACT2 makes accessing, analyzing, and updating clinical trial data easy.</h2>

    <p>
      It's an open source project maintained by <a href="https://www.dtmi.duke.edu/what-we-do/clinical-trials-transformation-initiative-ctti" target="_blank">CTTI</a> at Duke University. There are currently
      <%= number_with_delimiter(@studyCount) %> records in the database<% if @lastUpdate %>, which was last updated on <%= @lastUpdate.strftime("%B %d, %Y") %><% end %>.</p>

    <a class="button" href="/api_docs" target="_blank">API Docs</a>
    <a class="button" href="https://s3-us-west-2.amazonaws.com/aact2/csv-export-2016-06-28" target="_blank">Download Database</a>
  </div>

</section>
