
<section class="homeHero">


  <div class="copy">
    <h1>Here to make clinical trials data easier to access and understand.</h1>

    <p>The Aggregate Analysis of ClincalTrials.gov (AACT Version 2.0) provides direct and downloadable access to publicly available data from ClinicalTrials.gov.</p>

  </div>

  <div class="heroPanelRow">
    <a class="button big" href="#access">
      <%= icon('plug') %>
      <span class="type">Instructions</span>
      Connect to AACT2
    </a>
    <a class="button small" href="#snapshots">
      <%= icon('download') %>
      <span class="type">Instructions</span>
      Database Download
    </a>
  </div>

  <div class="heroPanelRow">
    <a class="button small light" href="/points_to_consider">
      <%= icon('info-circle') %>
      <span class="type">Recommendation</span>
      Points to Consider
    </a>
    <a class="button big" href="/learn_more">
      <%= icon('university') %>
      <span class="type">Publication</span>
      Learn about AACT
    </a>
  </div>
</section>
