<section class="homeAbout">
  <div class="wrap">
    <h2>What is AACT2?</h2>
    <div class="copy">
      <p>
        In 2010, the Clinical Trials Transformation Initiative (CTTI) partnership created an aggregated relational database of ct.gov information called the Aggregate Analysis of ClinicalTrials.gov (AACT) system. AACT provides users with a way to download a set of flat files that can be used to populate local relational database instances, or alternatively serve as the source of data for other analysis tools such as SAS or R.
      </p>
      <p>
        AACT has been in operation for more than 5 years and has supported research for numerous publications. Along the way, user feedback and internal support experience have given insight into how we can improve AACT. Rather than develop an incremental upgrade, CTTI is taking a more forward-looking approach by developing a truly open platform from the ground up that will make all aspects of the system available to the public.
      </p>
      <p>
        Our aim with AACT2 is to significantly lower the bar on access to clinical trial data, and encourage participation of patients, researchers, and healthcare partners.
      </p>

    </div>

    <h2>How does AACT2 work?</h2>

    <div class="copy">
      <p>
        Every night AACT2 pulls the latest dataset from <a href="http://www.clinicaltrials.gov" target="_blank">ClinicalTrials.gov</a> and updates our database with any new data.
      </p>

      <p>There are currently <%= number_with_delimiter(@studyCount) %> records in the database<% if @lastUpdate %>, which was last updated on <%= @lastUpdate.strftime("%B %d, %Y") %><% end %>.</p>
    </div>

  </div>
</section>
