
<section class="homeHero">

  <%= image_tag("bg2.png", class:"homeBg") %>

  <div class="wrap">
    <h2>Here to make clinical trials data easier to access and understand.</h2>

    <p>The Aggregate Analysis of ClincalTrials.gov (AACT Version 2.0) provides direct and downloadable access to publicly available data from ClinicalTrials.gov.</p>

    <a class="button" href="#access">Connect to AACT2</a>
    <a class="button" href="#snapshots">Database Download</a>
  </div>

</section>
