<div class="step">
  <span class="stepNumber">1</span>
  <h3 class="stepName">Download & Install R (Optionally RStudio)</h3>
</div>

<p>If R (and RStudio) not already installed on your local machine, you may install from the following links:</p>

<ul>
  <li><a href='https://cran.r-project.org/' target='_blank'>R</a></li>
  <li><a href='https://www.rstudio.com/products/rstudio/' target='_blank'>RStudio (Optional)</a></li>
</ul>

