<pre>
  <p class='code'>
    <span class='command-prompt'>-&gt; </span><span class='command-entry'> psql aact</span>
    <span class='command-response'> </span>
    <span class='command-response'>  psql (9.6.1)</span>
    <span class='command-response'>  Type "help" for help.</span>
    <span class='command-response'> </span>
    <span class='command-prompt'>aact=# _</span>
  </p>
</pre>
<p>
The  <i><span class='command-prompt'>aact=&gt; </span></i>  prompt indicates that you're in a pSQL console session and can enter SQL queries against the AACT database. A simple example:
</p>
<pre>
  <p class='code'>
   <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> select count(*) from studies;</span>
    <span class='command-response'> </span>
    <span class='command-response'>  count</span>
    <span class='command-response'>  --------</span>
    <span class='command-response'>  <%= Study.count %></span>
    <span class='command-response'>  (1 row)</span>
    <span class='command-response'> </span>
    <span class='command-prompt'>aact=&gt; _</span>
  </p>
</pre>
