<main>
<section class="namingConventions">
  <h2>What were the primary considerations when designing the database?</h2>

   <p>When designing the database, we tried to balance the following objectives:</p>
   <ul class='regularDisplay'>
     <li>Present data exactly as it exists in ClinicalTrials.gov.</li>
     <li>Make the information as easy to understand & analyze as possible.</li>
     <li>Use consistent names and structures throughout the database. Make it predictable; minimize uncertainty.</li>
     <li>Provide value-added attributes, identify them as such, and keep them separate from the raw ClinicalTrials.gov content. (The <i>Calculated_Values</i> table contains data elements that were derived from existing data.)</li>
   </ul>

   <h4>Naming Conventions</h4>
   <ul class='regularDisplay'>
     <li>Table names are all plural. (ie. <i>studies, facilities, interventions,</i> etc.)</li>
     <li>Column names are all singular. (ie. <i>description, phase, name</i>, etc.)</li>
     <li>Table/column names derived from multiple words are delimited with underscores. (ie. <i>mesh_term, study_first_submitted_date, number_of_groups</i>, etc.)</li>
     <li>Case (upper vs lower) is not relevant since PostgreSQL ignores case. <i>Studies</i>, <i>STUDIES</i> and <i>studies</i> all represent the same table and can be used interchangably.</li>
     <li>Information about study design entered into ClinicalTrials.gov during registration is stored in AACT tables prefixed with <i>Design_</i> to distinguish it from the results data. For example, the <i>Design_Groups</i> table contains registry information about anticipated participant groups, whereas the <i>Result_Groups</i> table contains information that was entered after the study has completed to describe actual participant groups. <i>Design_Outcomes</i> contains information about the outcomes to be measured and <i>Outcomes</i> contains info about the actual outcomes reported when the study completed.</li>
     <li>Where possible, tables & columns are given fully qualified names; abbreviations are avoided. (ie. <i>description</i> rather than <i>desc</i>; <i>category</i> rather than <i>ctgry</i>)</li>
     <li>Unnecssary and duplicate verbiage is avoided. For example: <i>Studies.source</i> instead of <i>Studies.study_source</i></li>
     <li>Columns that end with <i>_id</i> represent foreign keys. The prefix to the <i>_id</i> suffix is always the singular name of the parent table to which the child table is related. These foreign keys always link to the <i>id</i> column of the parent table.</p>
       <p><i>Child_Table.parent_table_id = Parent_Tables.id</i></p>
       <p>For example, a row in <i>Facility_Contacts</i> links to it’s facility through the <i>facility_id</i> column.</p>
       <p><i>Facility_Contacts.facility_id = Facilities.id</i>
     </li>
  </ul>
   <h4 id='structure_conventions'>Structural Conventions</h4>
   <ul class='regularDisplay'>
     <li>Every table has an <i>nct_id</i> column to link rows to its related study in the <i>Studies</i> table. All study-related data can be linked directly to the <i>Studies</i> table via the <i>nct_id.</i> (Note: The schema diagram omits several of the lines that represent relationships to <i>Studies</i>. This was done to avoid appearing complex and confusing. Relationships to the <i>Studies</i> table can be assumed since every table includes the NCT ID.)</li>
        <p><i>Studies.nct_id = Outcomes.nct_id</i> will link outcomes to their related study.
     <li>Every table has the primary key: <i>id</i>. (<i>Studies</i> is the one exception since it's primary key is the unique study identifier assigned by ClinicalTrials.gov: <i>nct_id</i>.)</li>
     <li>Columns that end with <i>_date</i> contain date-type values.</li>
     <li>Columns that contain month/year dates are saved as character strings in a column with a <i>_month_year</i> suffix. A date-type estimate of the value (using the 1st of the month as the 'day') is stored in an adjacent column with the <i>_date</i> suffix. (This applies to date values in the <i>Studies</i> table.)</li>
     <li>Derived/calculated value are stored in the <i>Calculated_Values</i> table.</i>
   </ul>

   <p>While we tried to rigorously adhere to these conventions, reality occassionally failed to cooperate, so compromises were made and exceptions to these rules exist. For example, to limit duplicate verbiage, we preferred the table name <i>References</i> over <i>Study_References</i>, however the word 'References' is a PostgreSQL reserved word and cannot be used as a table name, so <i>Study_References</i> it is.</p>

   <h2 id='arms_groups'>How are arms/groups identified?</h2>
   <p>Considerable thought went into how to present arm and group information to facilitate analysis by simplifying naming and data structures while retaining data fidelity.

   NLM defines groups/arms this way:</p>
   <ul class='regularDisplay'>
     <li><i>Arm:</i> A pre-specified group or subgroup of participant(s) in a clinical trial assigned to receive specific intervention(s) (or no intervention) according to a protocol.</li>
     <li><i>Group:</i> The predefined participant groups (cohorts) to be studied, corresponding to Number of Groups specified under Study Design (for single-group studies.</li>
   </ul>

   <p>In short, observational studies use the term ‘groups’; interventional studies use ‘arms’, though for the purpose of analysis, they both refer to the same thing. Because 'group' is more intuitive to the general public, AACT standardized on the term 'group(s)' and does not use the term 'arms'.</p>

   <h4>Participant Groups: Registry vs Results</h4>
   <p>When a study is registered in ClinicalTrials.gov, information is entered about how the study defines partipant groups. In AACT, this information is stored in the <i>Design_Groups</i> table, while info about actual groups that is entered after the study has completed is stored in the <i>Result_Groups</i> table. (AACT has not attempted to link data between these 2 tables.)</p>

   <p>Result information, for the most part, is organized in ClinicalTrials.gov by participant group. <i>Result_Contacts</i> & <i>Result_Agreements</i> are the only result tables not associated with groups. This section describes how AACT has structured group-related results data.</p>

   <p>AACT provides four general categories of result information:</p>

     <ul class='regularDisplay'>
       <li>Participant Flow (Milestones & Drop/Withdrawals)</li>
       <li>Baselines</li>
       <li>Outcomes</li>
       <li>Reported Events</li>
    </ul>

    <p>The <i>Result_Groups</i> table represents an aggregate list of all groups associated with these result types. All result tables (<i>Outcomes, Outcome_Counts, Baseline_Measures, Reported_Events</i>, etc.) relate to <i>Result_Groups</i> via the foreign key <i>result_group_id</i>.</p>
    <p>For example, <i>Outcomes.result_group_id = Result_Groups.id</i>.</p>

    <p>ClinicalTrials.gov assigns an identifier to each group/result that is unique within the study. The identifier includes a leading character that represents the type of result (B for Baseline, O for Outcomes, R for Reported Event, and P for Participant Flow) followed by a number that uniquely identifies the group in that context. To illustrate... Study NCT001 had 2 groups: experimental & control, and reported multiple baseline measures, outcome measures, reported events and milestone/drop-withdrawals for each group. The following table illustrates how the <i>Result_Groups</i> table organizes the group information received from ClinicalTrials.gov in this case:</p>
     <table id='resultGroup' class='regularDisplay'>
       <tr>
         <th class='resultGroup'>id</th>
         <th class='resultGroup'>nct_id</th>
         <th class='resultGroup'>result_type</th>
         <th class='resultGroup'>ctgov_group_code</th>
         <th class='resultGroup'>group title</th>
         <th class='resultGroup'>explanation</th>
       </tr>
       <tr class='even'>
         <td class='schemaID'>1</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Baseline</td>
         <td class='schemaID'>B1</td>
         <td>Experimental Group</td>
         <td>All Baseline_Measures associated with this study's experimental group link to this row.</th>
       </tr>
       <tr class='even'>
         <td class='schemaID'>2</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Baseline</td>
         <td class='schemaID'>B2</td>
         <td>Control Group</td>
         <td>All Baseline_Measures associated with this study's control group link to this row.</td>
       </tr>
       <tr class='odd'>
         <td class='schemaID'>3</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Outcome</td>
         <td class='schemaID'>O2</td>
         <td>Experimental Group</td>
         <td>All Outcome_Measures associated with this study's experimental group link to this row.</td>
       </tr>
       <tr class='odd'>
         <td class='schemaID'>4</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Outcome</td>
         <td class='schemaID'>O1</td>
         <td>Control Group</td>
         <td>All Outcome_Measures associated with this study's control group link to this row.</td>
       </tr>
       <tr class='even'>
         <td class='schemaID'>5</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Reported Event</td>
         <td class='schemaID'>E1</td>
         <td>Experimental Group</td>
         <td>All Reported_Events associated with this study's experimental group link to this row.</td>
       </tr>
       <tr class='even'>
         <td class='schemaID'>6</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Reported Event</td>
         <td class='schemaID'>E2</td>
         <td>Control Group</td>
         <td>All Reported_Events associated with this study's control group link to this row.</td>
       </tr>
       <tr class='odd'>
         <td class='schemaID'>7</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Participant Flow</td>
         <td class='schemaID'>P1</td>
         <td>Experimental Group</td>
         <td>All Milestones & Drop_Withdrawals associated with this study's experimental group link to this row.</td>
       </tr>
       <tr class='odd'>
         <td class='schemaID'>8</td>
         <td class='schemaID'>NCT001</td>
         <td class='schemaID'>Participant Flow</td>
         <td class='schemaID'>P2</td>
         <td>Control Group</td>
         <td>All Milestones & Drop_Withdrawals associated with this study's studies control group link to this row.</td>
       </tr>
     </table>

     <p>Notice that the integer in the code provided by ClinicalTrials.gov (ctgov_group_code) is often the same for one group across the different result types, but this is not always the case. In the example above, B1, E1 & P1 all represent the 'experimental group', so you're tempted to think that '1' equates to to the 'experimental group' for this study, however for Outcomes, O1 represents the control group. In short, the number in the ctgov_group_code often links the same group across all result types in a study, but for about 25% of studies, this is not the case, so it can't be counted on to indicate this relationship.  (We had hoped to use a single row in <i>Result_Groups</i> to uniquely represent a participant group in the study and link all related results data (from the various tables) to that one row, however this was not possible. Therefore, one group will typically be represented multiple times in the <i>Result_Groups</i> table: once for each type of result data.</p>

   <h2>Information about dates</h2>
	 <p>ClinicalTrials.gov has historically provided the month/year (without day) for several date values including start date, completion date, primary completion date and verification date. Because the 'day' was not provided, AACT stored these dates in the <i>Studies</i> table as character-type rather than date-type values. Character-type dates are of limited utility in an analytic database because they can't be used to perform standard date calculations such as determining study duration or the average number of months for someone to report results or identifying studies registered before/after a certain date.</p>

   <p>NLM recently reported that ClinicalTrials.gov will start providing full date values (mm/dd/yy) for these date elements, however this only applies to new studies; studies entered prior to this announcement will continue to have only month/year date values. We considered various alternatives to handle dates given this issue. We decided to provide 2 columns in the <i>Studies</i> table for each date element: 1) a character-type column that displays the value exactly as it was received from ClinicalTrials.gov & 2) a date-type column that can be used for date calculations. If the date received from ClinicalTrials.gov has only month/year, in order to convert the string to a date, it is assigned the first day of the month. For example, a study with start date June, 2014 will have <i>June, 2014</i> in the <i>start_month_year</i> column and <i>06/01/14</i> in the <i>start_date</i> column.
    <p>

    <div id='pending_results'>
      <h2>Information about dates related to 'pending results'</h2>
      <p>On May 9, 2018, the NLM added a new section of date information to the ClinicalTrials.gov API. The section is labeled "pendng_results" and serves to provide information about result submission activity while the results await quality control review.</p>

      <p>NLM provides result submission date(s) for studies that have results awaiting quality control (QC) review. The results themselves are not publicly posted until the review is complete. The dates for three types of events related to results submission are reported in the Pending_Results table:</p>
      <ul class='regularDisplay'>

        <li><i>Submission:</i> The date(s) that study results were submitted to NLM for QC review.</li>
        <li><i>Submission Canceled:</i> The date(s) that such submissions were canceled by the data provider. (Note: this value is set to "Unknown" if the cancellation occurred before 05/08/2018 when this data started to be collected).</li>
        <li><i>Returned:</i>  The date(s) that study results were returned to the data provider because they required modification.</li>
      </ul>
      <p>The NLM reports that the following updates occur to this information when a study passes the quality control review:</p>
      <ul class='regularDisplay'>

        <li><i>Study.results_first_submitted_date</i> is populated with the earliest 'submitted date' from Pending_Results.</li>
        <li><i>Study.results_first_submitted_qc_date</i> is populated with the submitted date of the version of results that passed QC.</li>
        <li>Result tables (<i>Reported_Events, Outcomes, Baseline_Measurements</i>, etc.) are populated with the result information that passed QC.</li>
        <li>All rows for the study with reviewed/approved results are removed from the <i>Pending_Events</i> table.</li>
      </ul>
      <p>More information about the quality control (QC) review process and how this information is presented in ClinicalTrials.gov can be found in the December, 2017 <a target='_blank' href='https://www.nlm.nih.gov/pubs/techbull/nd17/nd17_clinicaltrials_enhanced.html#anch_30'>NLM Technical Bulletin</a></p>
    </div>

    <div id='trial_sites'>
      <h2>Information about trial sites (Facilities and Countries)</h2>
      <p> Information about organizations where the study is/was conducted (aka. facilities, trial sites) is stored in the <i>Facilities</i> table. This represents the facility information that was included in the study record on the date that information was downloaded from ClinicalTrials.gov.</p>

      <p>The name and email/phone for the contact person (and optionally, a backup contact) at a facility is available if the facility status (<i>Facilities.status</i>) is ‘<i>Recruiting</i>’ or ‘<i>Not yet recruiting</i>’, and if the data provider has provided such information. This information is stored in AACT in the <i>Facility_Contacts</i> table, which is a ‘child’ of the <i>Facilities</i> table. Facility-level contact information is not required if a central contact has been provided. Contact information is removed from the publicly available content at ClinicalTrials.gov (and therefore from AACT) when the facility is no longer recruiting, or when the overall study status (<i>Studies.overall_status</i>) changes to indicate that the study has completed recruitment.</p>

      <p>Similarly, the names and roles of investigators at the facility are available if the facility status (<i>Facilities.status</i>) is ‘<i>Recruiting</i>’ or ‘<i>Not yet recruiting</i>’, and if the data provider has provided such information. This information is stored in AACT in the <i>Facility_Investigators</i> table, which is a ‘child’ of the <i>Facilities</i> table. Facility-level investigator information is optional. Facility-level investigator information is removed from the publicly available content at ClinicalTrials.gov (and therefore from AACT) when the facility is no longer recruiting, or when the overall study status (<i>Studies.overall_status</i>) changes to indicate that the study has completed recruitment. </p>

      <p>AACT includes a <i>Countries</i> table, which contains one record per unique country per study. The <i>Countries</i> table includes countries currently & previously associated with the study. The <i>removed</i> column identifies those countries that are no longer associated with the study. NLM uses facilities information to create a list of unique countries associated with the study. In some cases, ClinicalTrials.gov data submitters subsequently remove facilities that were entered when the study was registered. Naturally these will not appear in AACT's <i>Facilities</i> table. If all of a country’s facilities have been removed from a study, NLM flags the country as ‘Removed’ which appears in AACT as <i>Countries.removed</i> = true.

      <p>The reasons facilities are removed are varied and unknown. A site may have been removed because it was never initiated or because it was entered with incorrect information. The recommended action for sites that have completed or have terminated enrollment is to change the enrollment status to “Completed” or “Terminated”; however, such sites are sometimes deleted from the study record by the responsible party. Data analysts may consider using Countries where <i>removed</i> is set to true to supplement the information about trial locations that is contained in <i>Facilities</i>, particularly for studies that have completed enrollment and have no records in <i>Facilities</i>.</p>

      <p>Users who are interested in identifying countries where participants are being/were enrolled may use either the <i>Facilities</i> or <i>Countries</i> (where <i>Countries.removed</i> is not true) with equivalent results.</p>
    </div>

    <div id='mesh_terms'>
      <h2>MeSH terms in Browse_Conditions and Browse_Interventions</h2>
      <p>When data submitters provide information to ClinicalTrials.gov about a study, they’re encouraged to use Medical Subject Heading (<a target='_blank' href='https://www.nlm.nih.gov/mesh/meshhome.html'>MeSH</a>) terminology for interventions, conditions, and keywords. The <i>Browse_Conditions</i> and <i>Browse_Interventions</i> tables contain MeSH terms generated by an algorithm run by NLM. The NLM algorithm is re-run nightly on all studies in the ClinicalTrials.gov database, and sources the most up-to-date information in the study record, the latest version of the algorithm, and the version of the MeSH thesaurus in use at that time.</p>
    </div>

    <div id='delayed_results'>
      <h2>“Delayed Results” data elements are available in AACT</h2>
      <p>A responsible party of an applicable clinical trial may delay the deadline for submitting results information to ClinicalTrials.gov for up to two additional years if one of the following two certification conditions applies to the trial:</p>

      <ul class='regularDisplay'>
        <li>Initial approval: trial completed before a drug, biologic or device studied in the trial is initially approved, licensed or cleared by the FDA for any use.</li>
        <li>New use: the manufacturer of a drug, biologic or device is the sponsor of the trial and has filed or will file within one year, an application seeking FDA approval, licensure, or clearance of the new use studied in the trial. A responsible party may also request, for good cause, an extension of the deadline for the submission of results.</li>
      </ul>

      <p>Studies for which a certification or extension request have been submitted include the date of the first certification or extension request in the data element: <i>Studies.disposition_first_submitted_date</i>.</p>

      <p>In general, the content that is contained in the AACT database preserves the content in the source XML files that are downloaded from ClinicalTrials.gov.</p>
    </div>

</section>
</main>
