<div class="wrap">

  <div class="basicHero">
    <h1>Download AACT</h1>
       <p>
        A static copy of the AACT database is created on the first of each month; the most recent and archived copies are available for download. This method can be used to create a local copy of a particular instance (snapshot) of the database. A number of query and analytic tools (such as SAS, pgAdmin & R) can then be used to connect to and query your local instance of the database. Each static database version is saved as a set of pipe-delimited csv files which are also available for download.
        </p>
    </div>
</div>

<section class="downloadAact">
  <div class="downloadTypes">

    <a href="/snapshots" class="downloadCard">
      <h4>Download Database Snapshot</h4>
      <p>The latest snapshot of the AACT database was captured on <%= Date.today.strftime("%B %e") %> at 3am Eastern Standard Time. Click here for instructions on how to utitlize snapshots.
      </p>
      <%= icon("download") %>
    </a>

    <!-- <a href="https://s3-us-west-2.amazonaws.com/aact2/csv_pipe_exports/<%= Date.today.strftime('%Y-%m-%d') %>-pipe-delimited-export" class="downloadCard"> -->
    <a href="/pipe_delimited" class="downloadCard">
      <h4>Download Set of Pipe-Delimited Files</h4>
      <p>
        Click here to download a pipe delimited copy of the database. These pipe delimited files are compatible with many data visualization tools like SAS and R.
      </p>
      <%= icon("download") %>
    </a>

  </div>
</section>
