<section class="downloadAact">

  <div class="wrap">

    <div class="basicHero">
      <h1>Download AACT</h1>

    </div>

  </div>

  <section class="instructions">
    <div class="wrap">
      <h4 id="snapshots">Download archived snapshots</h4>
      <%= render 'access/snapshots' %>

      <h4 id="replicate">Restore local database from AACT2 snapshot</h4>
      <%= render 'access/restore_snapshot' %>

      <h4 id="csv">Download pipe delimited packages</h4>
      <%= render 'access/download_package' %>

    </div>

  </section>


</section>
