<div class="wrap">

  <div class="basicHero">
    <h1>Download AACT</h1>
       <p>
       A static copy of the AACT database is created on the first of each month. The most recent and archived <a href='/snapshots'>copies</a> are available for download. These can be used to create a local copy of a particular instance of the database. A number of query and analytic tools (such as SAS, pgAdmin & R) can then be used to connect to and query your local copy.</p>
       <p>For those who prefer to access the data via simple flat files, static copies are also available as a <a href='/pipe_files'>zipped package of pipe-delimited files</a>.<p>
  </div>

  <section class="downloadAact">
     <div class="downloadTypes">
      <section class="homeHero">
       <a href="/snapshots" class="downloadCard">
         <h4>Download Static Copy of the Database</h4>
         <p>Static copies of the AACT database are created periodically and made available for download. Click here for access to these static copies as well as instructions on how to download and install your own instance of the AACT database.
         </p>
         <%= fa_icon("download") %>
      </a>

      <a href="/pipe_files" class="downloadCard">
         <h4>Download Pipe-Delimited Files</h4>
         <p>
           Click here to download a pipe delimited copy of the database. These pipe delimited files are compatible with many data visualization tools like SAS and R.
         </p>
         <%= fa_icon("download") %>
      </a>

     </div>
  </section>
</div>
