<%= render 'pages/home_hero' %>

<div class="wrap homeContent">
  <%= render 'docs_menu' %>

  <section class="documentation">
    <%= render 'overview' %>
    <%= render 'access' %>
  </section>

</div>

<p>Feedback is welcome.  Please contact ….. The project manager for this project is Sara Calvert. Please send your questions, comments, or feedback regarding AACT or the State of Clinical Trials Project to ctti-ctgov@mc.duke.edu.</p>
