
<section class="homeHero">
  <h1>OpenTrials</h1>
  <p>OpenTrials makes accessing, analyzing, and updating clinical trial data easy. It's an open source project maintained by <a href="https://www.dtmi.duke.edu/what-we-do/clinical-trials-transformation-initiative-ctti">CTTI</a> at Duke University.</p>

  <p>There are currently <%= number_with_delimiter(@studyCount) %> records in the database, which was last updated at <%= @lastUpdate %>.</p>
  <nav>
    <a href="https://github.com/SturdyCo/aact2">View Documentation</a>
    <a href="">Download a database copy</a>
    <a href="https://github.com/SturdyCo/aact2">Clone on Github</a>
  </nav>
</section>

<section class="goals">
<!--   <ul>
    <li>maximize the value of information in ct.gov</li>
    <li> easy to access and analyze, and freely available to anyone interested</li>
    <li> providing continual and free access to the most current version of this information</li>
    <li>  provide a way for clinical experts from partnering organizations to generally improve the quality of the data </li>
    <li>  The idea is to promote use and value without being the gatekeeper of the information. </li>
  </ul> -->
</section>
