

<section class="learnMore">

  <div class="wrap">

    <div class="basicHero">
      <h1>Learn more about AACT</h1>

    </div>

  </div>

  <div class="quickLinks">
    <div class="wrap">
      <div class="quickLink">
        <a href="/">
          <div class="card">
            <h3>Database Schema</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </a>
      </div>
      <div class="quickLink">
        <a href="/data_dictionary">
          <div class="card">
            <h3>Data Dictionary</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </a>
      </div>
      <div class="quickLink">
        <a href="/">
          <div class="card">
            <h3>Sample SQL</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </a>
      </div>
      <div class="quickLink">
        <a href="/">
          <div class="card">
            <h3>Frequently Asked Questions</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </a>
      </div>

    </div>

  </div>

  <div class="overview">
    <div class="wrap">
      <%= render 'overview' %>
    </div>
  </div>

</section>
