<div class="wrap">

  <div class="basicHero">
    <h1>Release Notes and Background</h1>
  </div>

  <section class="downloadAact">
     <div class="downloadTypes">
      <section class="homeHero">

      <a href="/release_notes" class="downloadCard">
         <h4>Release Notes</h4>
         <%= fa_icon("newspaper-o") %>
      </a>

       <a href="/background" class="downloadCard">
         <h4>Additional Background</h4>
         <p>Learn the fundamental objectives of AACT and the reasons we consider it important to aggregate the content of ClinicalTrials.gov and make it available to the public.</p>
         <%= fa_icon("terminal") %>
      </a>

     </div>
  </section>
</div>
