<div class="wrap">

  <div class="basicHero">
    <h1>Download Set of Pipe-Delimited Files</h1>
  </div>

</div>

<section class="pipeDelimited">
  <p>Download the latest pipe delimited export of the AACT database
    <a href="<%= @pipe_exports %>/<%= (Date.today - 3.days).strftime('%Y-%m-%d') %>-pipe-delimited-export">here</a>
  </p>
</section>
