<div class="wrap">
  <h2>Tips for Analyzing Data in Pipe-Delimited Files Using SAS</h2>

  <p>The text files can be read using in SAS using PROC IMPORT or with a DATA STEP. The DATA STEP is recommended because it allows the user more control over how variables are input (e.g., variable lengths and formats). However PROC IMPORT can provide a useful first pass, and generates explicit DATA STEP code in the SAS log file that can be modified for a second pass run.</p>

   <div class="step">
     <span class="stepNumber">1</span>
     <h3 class="stepName">Start by Reading a Small File</h3>
   </div>

    <p class='CodeRay'>
    <pre>
      <p class='code'>
        <span class='command-response'>/* first try reading file with PROC IMPORT */ </span>
        <span class='command-prompt'>proc import</span>
        <span class='command-prompt'>   datafile = "id_information.txt"</span>
        <span class='command-prompt'>   out = id_information</span>
        <span class='command-prompt'>      ;</span>
        <span class='command-prompt'>   delimiter = '|';</span>
        <span class='command-prompt'>   getnames = YES;</span>
        <span class='command-prompt'>   guessingrows = 100;</span>
        <span class='command-prompt'>run; </span>
      </p>
    </pre>
  </p>

  <p>Notes: </p>
  <ul class='regularDisplay'>
    <li>The code assumes that the file ‘id_information.txt’ is located in the current working directory.  Substitute appropriate path and file information as needed.</li>
      <li>When guessingrows=100, SAS will use the first 100 records to guess appropriate input formatting for variables. A larger value can be set, however, a very large value may be computationally intensive.</li>
      <li>PROC IMPORT determines that the data file contains four variables in the order: ID, NCT_ID, ID_TYPE, ID_VALUE. It guesses that the ID variable is numeric, and that the three other variables are character with lengths of at least 11, 12, and 28 respectively. </li>
      <li>PROC IMPORT determined that the maximum record length was 60.  </li>
  </ul>


  <p>Next, re-read the file using an explicit DATA STEP.  To avoid truncating variables check variable lengths in the Data Dictionary.  The ‘sanity_checks.txt’ file also provides information about number of records, frequently encountered variable values, and maximum variable length for each data file.</p>



    <p class='CodeRay'>
    <pre>
      <p class='code'>

        <span class='command-response'>/* An explicit DATA STEP is recommended for reading the file */ </span>
        <span class='command-prompt'>filename infl "id_information.txt"  encoding='latin1' ;</span>

        <span class='command-prompt'>data id_information;</span>
        <span class='command-prompt'>    infile infl </span>
        <span class='command-prompt'>           delimiter = '|' </span>
        <span class='command-prompt'>           termstr=lf</span>
        <span class='command-prompt'>           firstobs=2 </span>
        <span class='command-prompt'>           lrecl=100</span>
        <span class='command-prompt'>           missover </span>
        <span class='command-prompt'>           dsd </span>
        <span class='command-prompt'>           ;</span>
        <span class='command-prompt'>   informat id best32. ;</span>
        <span class='command-prompt'>   informat nct_id $11.;</span>
        <span class='command-prompt'>   informat id_type $50.;</span>
        <span class='command-prompt'>   informat id_value $50.;</span>

        <span class='command-prompt'>   format id best32. ;</span>
        <span class='command-prompt'>   format nct_id $11.;</span>
        <span class='command-prompt'>   format id_type $50.;</span>
        <span class='command-prompt'>   format id_value $50.;</span>

        <span class='command-prompt'>        input</span>
        <span class='command-prompt'>             id</span>
        <span class='command-prompt'>             nct_id $</span>
        <span class='command-prompt'>             id_type $</span>
        <span class='command-prompt'>             id_value $</span>
        <span class='command-prompt'>             ;</span>
        <span class='command-prompt'>run;</span>
     </p>
   </pre>
 </p>


 <p> Notes:</p>
 <ul class='regularDisplay'>
   <li>The FILENAME statement specifies the input file name and options (e.g., indicates that Latin1 character encoding is used).</li>
   <li>The DELIMITER=’|’ options specifies that variables are delimited with pipes (‘|’).</li>
   <li>The TERMSTR=LF option indicates that linefeed characters indicate the end of a record.</li>
   <li>FIRSTOBS=2 indicates that data should be read starting at row 2 (the first row contains variable names)</li>
   <li>LRECL=100 is set based on what was observed from the PROC IMPORT trial run. The maximum possible value of LRECL=32767. Setting LRECL too short will result in truncation of data records. Setting LRECL to the maximum will reduce computational performance. </li>
   <li>When the end of a record is encountered, the MISSOVER option will cause SAS to set any unassigned values to missing rather than filling in missing values using values from the next record.</li>
   <li>The DSD option has several effects: it removes quotation marks that enclose character values (i.e., doesn't read them as part of the character data); it treats two consecutive delimiters as a missing value; and when a data value is enclosed within quotes, delimiters within that data value will be treated as character data rather than as a delimiter.</li>
   <li>The INFORMAT and FORMAT statements are used to set the appropriate variable type, length, and format for each variable.</li>
   <li>In the INPUT statement, variable names must be listed in the order that they are encountered in the data file. Character variables are indicated with a $ following the variable name.</li>
 </ul>

  <div class="step">
    <span class="stepNumber">2</span>
    <h3 class="stepName"></h3>
  </div>
  <p> The following code can be used to estimate the approximate memory needed to read the full dataset</p>
  <p>Once you have successfully read a small file, try reading the file ‘designs.txt’. This file is larger but contains structured data elements without any free text.  Reading this file may help you test memory requirements on your system, and is a good file on which to develop strategies for reading larger files.  </p>

  <p>(What code?)</p>

  <div class="step">
    <span class="stepNumber">3</span>
    <h3 class="stepName"></h3>
  </div>

  <p>Once you have successfully read the two files mentioned above, you are ready to try reading some other files.  The file ‘studies.txt’ contains one record per study (NCT_ID is the unique identifier), and contains many of the study protocol data elements. </p>

  <p class='CodeRay'>
    <pre>
      <p class='code'>
       <span class='command-prompt'>/* Read the studies.txt using an explicit DATA STEP  */</span>
       <span class='command-prompt'>filename infl "studies.txt"  encoding='latin1' ;</span>
       <span class='command-prompt'>data &filen._dta;</span>
       <span class='command-prompt'>data designs;</span>
       <span class='command-prompt'>     infile infl </span>
       <span class='command-prompt'>        delimiter = '|' </span>
       <span class='command-prompt'>              termstr=lf</span>
       <span class='command-prompt'>              firstobs=2 </span>
       <span class='command-prompt'>              lrecl=2500</span>
       <span class='command-prompt'>              missover </span>
       <span class='command-prompt'>              dsd </span>
       <span class='command-prompt'>            ;</span>
       <span class='command-prompt'>informat nct_id $11. ;</span>
       <span class='command-prompt'>informat study_first_submitted_date yymmdd10. ;</span>
       <span class='command-prompt'>informat last_update_submitted_date yymmdd10. ;</span>
       <span class='command-prompt'>informat results_first_submitted_date  yymmdd10. ;</span>
       <span class='command-prompt'>informat completion_date_type $20. ;</span>
       <span class='command-prompt'>informat primary_completion_date_type $20. ;</span>
       <span class='command-prompt'>informat study_type $50. ;</span>
       <span class='command-prompt'>informat overall_status $50. ;</span>
       <span class='command-prompt'>informat phase $20. ;</span>
       <span class='command-prompt'>informat target_duration $20. ;</span>
       <span class='command-prompt'>informat enrollment best32. ;</span>
       <span class='command-prompt'>informat enrollment_type $20. ;</span>
       <span class='command-prompt'>informat source $10. ;</span>
       <span class='command-prompt'>informat biospec_retention $20. ;</span>
       <span class='command-prompt'>informat limitations_and_caveats $10. ;</span>
       <span class='command-prompt'>informat description $10. ;</span>
       <span class='command-prompt'>informat acronym $20. ;</span>
       <span class='command-prompt'>informat number_of_arms best32. ;</span>
       <span class='command-prompt'>informat number_of_groups best32. ;</span>
       <span class='command-prompt'>informat why_stopped $200. ;</span>
       <span class='command-prompt'>vinformat has_expanded_access $10. ;</span>
       <span class='command-prompt'>informat has_dmc $10. ;</span>
       <span class='command-prompt'>informat is_fda_regulated_drug $10. ;</span>
       <span class='command-prompt'>informat brief_title $350. ;</span>
       <span class='command-prompt'>informat official_title $700. ;</span>
       <span class='command-prompt'>informat biospec_description $1200. ;</span>
       <span class='command-prompt'>informat created_at $25. ;</span>
       <span class='command-prompt'>informat updated_at $25. ;</span>
       <span class='command-prompt'>informat plan_to_share_ipd $20. ;</span>
       <span class='command-prompt'>informat disposition_first_submitted_date  yymmdd10. ;</span>
       <span class='command-prompt'>informat nlm_download_date_description $60. ;</span>
       <span class='command-prompt'>informat start_month_year $20. ;</span>
       <span class='command-prompt'>informat verification_month_year $20. ;</span>
       <span class='command-prompt'>informat completion_month_year $20. ;</span>
       <span class='command-prompt'>informat primary_completion_month_year $20. ;</span>
       <span class='command-prompt'>informat plan_to_share_ipd_description $1000. ;</span>

       <span class='command-prompt'>format nct_id $11. ;</span>
       <span class='command-prompt'>format study_first_submitted_date yymmdd10. ;</span>
       <span class='command-prompt'>format last_changed_date yymmdd10. ;</span>
       <span class='command-prompt'>format results_first_submitted_date  yymmdd10. ;</span>
       <span class='command-prompt'>format completion_date_type $20. ;</span>
       <span class='command-prompt'>format primary_completion_date_type $20. ;</span>
       <span class='command-prompt'>format study_type $50. ;</span>
       <span class='command-prompt'>format overall_status $50. ;</span>
       <span class='command-prompt'>format phase $20. ;</span>
       <span class='command-prompt'>format target_duration $20. ;</span>
       <span class='command-prompt'>format enrollment best32. ;</span>
       <span class='command-prompt'>format enrollment_type $20. ;</span>
       <span class='command-prompt'>format source $10. ;</span>
       <span class='command-prompt'>format biospec_retention $20. ;</span>
       <span class='command-prompt'>format limitations_and_caveats $10. ;</span>
       <span class='command-prompt'>format description $10. ;</span>
       <span class='command-prompt'>format acronym $20. ;</span>
       <span class='command-prompt'>format number_of_arms best32. ;</span>
       <span class='command-prompt'>format number_of_groups best32. ;</span>
       <span class='command-prompt'>format why_stopped $200. ;</span>
       <span class='command-prompt'>format has_expanded_access $10. ;</span>
       <span class='command-prompt'>format has_dmc $10. ;</span>
       <span class='command-prompt'>format is_fda_regulated_drug $10. ;</span>
       <span class='command-prompt'>format brief_title $350. ;</span>
       <span class='command-prompt'>format official_title $700. ;</span>
       <span class='command-prompt'>format biospec_description $1200. ;</span>
       <span class='command-prompt'>format created_at $25. ;</span>
       <span class='command-prompt'>format updated_at $25. ;</span>
       <span class='command-prompt'>format plan_to_share_ipd $20. ;</span>
       <span class='command-prompt'>format disposition_first_submitted_date yymmdd10. ;</span>
       <span class='command-prompt'>format nlm_download_date_description $60. ;</span>
       <span class='command-prompt'>format start_month_year $20. ;</span>
       <span class='command-prompt'>format verification_month_year $20. ;</span>
       <span class='command-prompt'>format completion_month_year $20. ;</span>
       <span class='command-prompt'>format primary_completion_month_year $20. ;</span>
       <span class='command-prompt'>format plan_to_share_ipd_description $1000. ;</span>

       <span class='command-prompt'>input</span>
       <span class='command-prompt'>   nct_id $</span>
       <span class='command-prompt'>   study_first_submitted_date</span>
       <span class='command-prompt'>   last_changed_date</span>
       <span class='command-prompt'>   results_first_submitted_date </span>
       <span class='command-prompt'>   completion_date_type $</span>
       <span class='command-prompt'>   primary_completion_date_type $</span>
       <span class='command-prompt'>   study_type $</span>
       <span class='command-prompt'>   overall_status $</span>
       <span class='command-prompt'>   phase $</span>
       <span class='command-prompt'>   target_duration $</span>
       <span class='command-prompt'>   enrollment</span>
       <span class='command-prompt'>   enrollment_type $</span>
       <span class='command-prompt'>   source $</span>
       <span class='command-prompt'>   biospec_retention $</span>
       <span class='command-prompt'>   limitations_and_caveats $</span>
       <span class='command-prompt'>   description $</span>
       <span class='command-prompt'>   acronym $</span>
       <span class='command-prompt'>   number_of_arms</span>
       <span class='command-prompt'>   number_of_groups</span>
       <span class='command-prompt'>   why_stopped $</span>
       <span class='command-prompt'>   has_expanded_access $</span>
       <span class='command-prompt'>   has_dmc $</span>
       <span class='command-prompt'>   is_fda_regulated_drug $</span>
       <span class='command-prompt'>   brief_title $</span>
       <span class='command-prompt'>   official_title $</span>
       <span class='command-prompt'>   biospec_description $</span>
       <span class='command-prompt'>   created_at $</span>
       <span class='command-prompt'>   updated_at $</span>
       <span class='command-prompt'>   plan_to_share_ipd $</span>
       <span class='command-prompt'>   nlm_download_date_description $</span>
       <span class='command-prompt'>   start_month_year $</span>
       <span class='command-prompt'>   verification_month_year $</span>
       <span class='command-prompt'>   completion_month_year $</span>
       <span class='command-prompt'>   primary_completion_month_year $</span>
       <span class='command-prompt'>   plan_to_share_ipd_description $</span>
       <span class='command-prompt'>   ;</span>
       <span class='command-prompt'>run;</span>
      </p>
   </pre>
 </p>









  <p>Example SAS code:</p>

    <p class='CodeRay'>
    <pre>
      <p class='code'>
        <span class='command-response'> /* Read the designs.txt using an explicit DATA STEP  */</span>
        <span class='command-response'>filename infl "designs.txt"  encoding='utf8' ;</span>
        <span class='command-response'>data designs;</span>
        <span class='command-response'>     infile infl </span>
        <span class='command-response'>        delimiter = '|' </span>
        <span class='command-response'>              termstr=lf</span>
        <span class='command-response'>              firstobs=2 </span>
        <span class='command-response'>              lrecl=500</span>
        <span class='command-response'>              missover </span>
        <span class='command-response'>              dsd </span>
        <span class='command-response'>           ;</span>
        <span class='command-response'>     informat id best32. ;</span>
        <span class='command-response'>     informat description $255. ;</span>
        <span class='command-response'>     informat masking $50. ;</span>
        <span class='command-response'>     informat masked_roles $60. ;</span>
        <span class='command-response'>     informat primary_purpose $50. ;</span>
        <span class='command-response'>     informat intervention_model $50. ;</span>
        <span class='command-response'>     informat allocation $50. ;</span>
        <span class='command-response'>     informat time_perspective $50. ;</span>
        <span class='command-response'>     informat observational_model $50. ;</span>
        <span class='command-response'>     informat nct_id $11. ;</span>
        <span class='command-response'>     informat subject_masked $10. ;</span>
        <span class='command-response'>     informat caregiver_masked $10. ;</span>
        <span class='command-response'>     informat investigator_masked $10. ;</span>
        <span class='command-response'>     informat outcomes_assessor_masked $10. ;</span>

        <span class='command-response'>     format id best32. ;</span>
        <span class='command-response'>     format description $255. ;</span>
        <span class='command-response'>     format masking $50. ;</span>
        <span class='command-response'>     format masked_roles $60. ;</span>
        <span class='command-response'>     format primary_purpose $50. ;</span>
        <span class='command-response'>     format intervention_model $50. ;</span>
        <span class='command-response'>     format allocation $50. ;</span>
        <span class='command-response'>     format time_perspective $50. ;</span>
        <span class='command-response'>     format observational_model $50. ;</span>
        <span class='command-response'>     format nct_id $11. ;</span>
        <span class='command-response'>     format subject_masked $10. ;</span>
        <span class='command-response'>     format caregiver_masked $10. ;</span>
        <span class='command-response'>     format investigator_masked $10. ;</span>
        <span class='command-response'>     format outcomes_assessor_masked $10. ;</span>

        <span class='command-response'>       input</span>
        <span class='command-response'>            id</span>
        <span class='command-response'>            description $</span>
        <span class='command-response'>            masking $</span>
        <span class='command-response'>            masked_roles $</span>
        <span class='command-response'>            primary_purpose $</span>
        <span class='command-response'>            intervention_model $</span>
        <span class='command-response'>            allocation $</span>
        <span class='command-response'>            time_perspective $</span>
        <span class='command-response'>            observational_model $</span>
        <span class='command-response'>            nct_id $</span>
        <span class='command-response'>            subject_masked $</span>
        <span class='command-response'>            caregiver_masked $</span>
        <span class='command-response'>            investigator_masked $</span>
        <span class='command-response'>            outcomes_assessor_masked $</span>
        <span class='command-response'>            ;</span>
        <span class='command-response'>run;</span>

</div>
