<div class="wrap">
  <div class="basicHero">
    <h1>Download Pipe-Delimited Files</h1>
  </div>
</div>

<section class="pipe-delimited">
<div class="wrap">

  <div class="step">
    <span class="stepNumber">1</span>
    <h3 class="stepName">Download Zip File Containing Pipe-Delimited Files</h3>
  </div>

  <p>
    Most recent: <a href="<%= @most_recent[:url] %>"><%= @most_recent[:last_modified] %></a> (<%= @most_recent[:size] %>)
  </p>

  <p>
    <%= render 'file_archive' %>
  </p>

  <div class="step">
    <span class="stepNumber">2</span>
    <h3 class="stepName">Use files with SAS or R</h3>
  </div>

  <p>Provide info that Karen has</p>

</div>
</section>
