<section class="pipe-delimited">
  <h2>Downloading & Using Pipe-Delimited Flat Files</h2>

  <p>These instructions are for users who cannot connect to the live PostreSQL database or who want the flexibility of manipulating this information in a raw, conventional text-based format. The flat files can also be used to populate a non-PostgreSQL database. Each set of flat files is created every day from the most current version of the live AACT database. Each daily set of flat files is made available for download until the end of the month. On the first of each month, a permanent copy of the flat files is created, archived and will remain available for download from this website.</p>

  <h2>General information about Flat Files</h2>
  <ol class='regularDisplay'>
    <li>Structure of Flat Files:  The files were created under a PC environment using UTF-8 encoding. Fields within each file are separated by the vertical bar character (“|”) commonly referred to as a “pipe”. A null or missing value for a field is delineated by consecutive “pipes” in the data stream. Records within each file are delimited by the line feed (LF) character. The first row of each file contains a delimited list of field names and the order of these names indicates the order of the data fields in the flat file. Most fields are character and are not enclosed within quotes, although single or double quotes may appear embedded within many of the descriptive fields.</li>
    <li>Modifications to Source Content to Facilitate Use of Flat Files:  In rare cases, the actual content of the study data contains an embedded pipe (“|”). To prevent software from interpreting the embedded pipe as a delimiter, the entire string containing the pipe has been enclosed in double quotes. Also,line feed and paragraph break characters within fields, which might otherwise be interpreted as end of record characters, have been removed from the flat file database extracts.</li>
    <li>Users are encouraged to refer to the Schema Diagram and associated information to determine the relationships between the different data files that comprise AACT. These relationships determine how data sets may be merged together.  There is one flat file for each database table indicated in the Schema Diagram. In addition, flat files containing meta data are available (data_definitions.txt, sanity_checks.txt, statistics.txt) are included. The Data Dictionary provides critical information about datasets and variables, including the expected number of records in a dataset, and the length of each variable.</li>
  </ol>

  <div class="step">
    <span class="stepNumber">1</span>
    <h3 class="stepName">Download Zip File Containing Pipe-Delimited Files</h3>
  </div>

  <h4>Current Month's Daily Copies</h4>
  <p><%= render 'file_archive', :files => @daily_files %></p>

  <h4>Monthly Archives</h4>
  <p><%= render 'file_archive', :files => @archive_files %></p>

  <div class="step">
    <span class="stepNumber">2</span>
    <h3 class="stepName">Extract Contents of Zip File</h3>
  </div>
  <p>In Windows, this can be done by right clicking on the file and selecting ‘Extract All…’ from the menu. You will be given the opportunity to choose or create a destination folder to contain the extracted flat files. Once the file extraction has completed your destination folder will contain the extracted flat files. Files are named according to the database table to which they correspond, for example studies.txt contains the records and variables from the studies database table.</p>

  <div class="step">
    <span class="stepNumber">3</span>
    <h3 class="stepName">Access Content with Favorite Analysis Tool</h3>
  </div>
  <p>The flat files can be read with many software tools. The files can even be opened in MS Excel (specify the pipe character as delimiter), however some of the files are very large and this is not recommended. Tips are provided for SAS and R software. </p>

  <section class="downloadAact">
     <div class="downloadTypes">
       <section class="homeHero">
         <a href="/pipe_files_with_r" class="downloadCard">
          <h4>Using R</h4>
          <%= fa_icon("download") %>
          <p>Click here for hints about how to use R with the Pipe-delimited Files</p>
         </a>
       </section>

       <section class="homeHero">
         <a href="/pipe_files_with_sas" class="downloadCard">
           <h4>Using SAS</h4>
           <%= fa_icon("download") %>
          <p>Click here for hints about how to use SAS with the Pipe-delimited Files</p>
         </a>
       </section>
     </div>
  </section>

</div>
</section>
