<div class="wrap">

  <div class="basicHero">
    <h1>Query AACT with pSQL</h1>
  </div>

</div>

<section class="psqlAccess">
  <div class="wrap">
    <p>
    The most straight forward way to access the content of ClinicalTrials.gov is by using the free postgreSQL command line query tool, <a target='_blank' href="http://postgresguide.com/utilities/psql.html">pSQL</a>, to connect to and query the AACT database. This tool is part of the PostgreSQL software package that can be downloaded for free from this <a target='_blank' href="https://www.postgresql.org/download/">site</a>. (Note: AACT is an open source project, based entirely on open source tools; the goal is to make this information as freely accessible as possible to everyone who can make use of it.)

    <%= render 'install_postgres' %>

    <div class="step">
      <span class="stepNumber">2</span>
        <h3 class="stepName">Launch <i>pSQL</i></h3>
    </div>

    <p>
    Once PostgreSQL is installed on your local machine, you can launch the query tool by entering the command: <i>psql</i> from a terminal session. To access the AACT cloud-hosted database, open a terminal window and enter the <i>psql</i> command with the following connection credentials.
    </p>

    <p><%= render 'psql_remote_login' %></p>

    <p>Important note:  To exit pSQL, enter the (not entirely intuitive) command: <i>\q</i> and hit return.</p>
    </p>
    <pre>
      <p class='code'>
       <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> \q</span>
        <span class='command-response'> </span>
        <span class='command-prompt'>-&gt _</span>
      </p>
    </pre>
    <p>

  </div>

</section>
