<div class="wrap">

  <div class="basicHero">
    <h1>Query AACT with pSQL</h1>
  </div>

</div>

<section class="psqlAccess">
  <div class="wrap">
    <p>
    The most fundamental way to access AACT data is by using the standard postgreSQL command line query tool: <a href="#">pSQL</a>. This tool is part of the <a href="#">PostgreSQL</a> client software.

    <%= render 'install_postgres' %>

    <div class="step">
      <span class="stepNumber">2</span>
        <h3 class="stepName">Launch <i>pSQL</i></h3>
    </div>

    <p>
    Once PostgreSQL is installed on your local machine, you can access pSQL from a terminal session by entering the command: <i>psql</i>. To access the AACT cloud-hosted database, open a terminal window and enter the <i>psql</i> command with the following syntax.
    </p>

    <p><%= render 'psql_remote_login' %></p>

    <p>Important note:  To exit pSQL, enter the (not entirely intuitive) command: <i>\q</i> and hit return.</p>
    </p>
    <pre>
      <p class='code'>
       <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> \q</span>
        <span class='command-response'> </span>
        <span class='command-prompt'>-&gt _</span>
      </p>
    </pre>
    <p>

  </div>

</section>
