<div class="wrap">

  <div class="basicHero">
    <h1>Query AACT with pSQL</h1>
  </div>

</div>

<section class="psqlAccess">
  <div class="wrap">
    <p>
    The most fundamental way to access AACT data is by using the standard postgreSQL command line query tool: <a href="#">pSQL</a>. This tool is part of the <a href="#">PostgreSQL</a> client software.

    <div class="step">
      <span class="stepNumber">1</span>
        <h3 class="stepName">Install Database Platform: <i>PostgreSQL (includes pSQL)</i></h3>
    </div>

    <p>AACT is currently running on version 9.5.2 of PostgreSQL; it's recommended you install this version or higher. Refer to <a href='http://www.enterprisedb.com/products-services-training/pgdownload#macosx' target='_blank'>PostgreSQL Downloads</a> for free software and installation instructions.</p>

    <div class="step">
      <span class="stepNumber">2</span>
        <h3 class="stepName">Launch <i>pSQL</i></h3>
    </div>

    <p>
    Once PostgreSQL is installed on your local machine, you can access pSQL from a terminal session by entering the command: <i>psql</i>. To access the AACT cloud-hosted database, open a terminal window and enter the <i>psql</i> command with the following syntax.
    </p>
    <pre>
      <p class='code'>
        <span class='command-prompt'>-&gt; </span><span class='command-entry'> psql --host <%= ENV["RDS_DB_HOSTNAME"] %> --port=5432 --username=<%= ENV["RDS_DB_READONLY_USERNAME"] %> --dbname=<%= ENV["RDS_DB_READONLY_DBNAME"] %></span>
        <span class='command-response'> </span>
        <span class='command-response'>  psql (9.5.3, server 9.5.2)</span>
        <span class='command-response'>  SSL connection (protocol: TLSv1.2, cipher: ECDHE-RSA-AES256-GCM-SHA384, bits: 256, compression: off)</span>
        <span class='command-response'>  Type "help" for help.</span>
        <span class='command-response'> </span>
        <span class='command-prompt'>aact=&gt; _</span>
      </p>
    </pre>
    <p>
    The  <i><span class='command-prompt'>aact=&gt; </span></i>  prompt indicates that you're in a pSQL console session and can enter SQL queries against the AACT database. A simple example:
    </p>
    <pre>
      <p class='code'>
       <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> select count(*) from studies;</span>
        <span class='command-response'> </span>
        <span class='command-response'>  count</span>
        <span class='command-response'>  --------</span>
        <span class='command-response'>  221382</span>
        <span class='command-response'>  (1 row)</span>
        <span class='command-response'> </span>
        <span class='command-prompt'>aact=&gt; _</span>
      </p>
    </pre>
    <p>

    <p>Important note:  To exit pSQL, enter '\q' and hit return.</p>
    </p>
    <pre>
      <p class='code'>
       <span class='command-prompt'>aact=&gt; </span><span class='command-entry'> \q</span>
        <span class='command-response'> </span>
        <span class='command-prompt'>-&gt _</span>
      </p>
    </pre>
    <p>

  </div>

</section>
