<section class="releaseNotes">
  <h2 id="background">Release Notes</h2>
    <main>
      <%= render 'release_notes/v3.0' %>
    </main>

    <main>
      <%= render 'release_notes/v2.0.5_patch' %>
    </main>

    <main>
      <%= render 'release_notes/v2.0.1_post_deploy_fixes' %>
    </main>

    <main>
      <%= render 'release_notes/v2.0' %>
    </main>

</section>
