<div class="wrap">

  <div class="basicHero">
    <h1>AACT Database Schema</h1>
  </div>

  <p>The diagram below illustrates how the AACT database is structured and identifies all tables/columns. It presents tables, columns and relationships.</p>

  <p>All tables include the ClinicalTrials.gov-assigned unique study identifier: <i>nct_id</i>. This id provides a way to a) find all data for a particular study and b) facilitate query development that joins multiple tables.</p>

  <%= render 'download_database_specs' %>

  <h2>Study-related Tables</h2>
  <section class="schema">
     <%= image_tag(@schema_diagram) %>
  </section>

  <%= render 'schema_info' %>
</div>
