<div class="wrap">

  <div class="basicHero">
    <h1>AACT Database Schema</h1>
  </div>

</div>

<section class="schema">
  <div class="wrap">
    <%= image_tag(@schema_diagram) %>
  </div>
</section>
<%= render 'download_database_specs' %>
<%= render 'schema_info' %>
