<section class="snapshots">

  <div class="wrap">
    <div class="basicHero">
      <h1>Create Local Database from AACT Snapshots</h1>
    </div>

    <p>If you would like to work with the full dataset on your own machine, install PostgreSQL locally, download an AACT database snapshot, and populate a local PostgreSQL database instance with it.</p>

    <%= render 'install_postgres' %>

    <div class="step">
      <span class="stepNumber">2</span>
      <h3 class="stepName">Download an AACT Database Snapshot</h3>
    </div>

    <p><%= render 'file_archive' %></p>

    <div class="step">
      <span class="stepNumber">3</span>
      <h3 class="stepName">Populate Local PostgreSQL Database from Snapshot</h3>
    </div>

    <p>Once PostgreSQL is installed on your local machine and you have downloaded a snapshot of the AACT database, you can create and populate your own database. You have two basic alternatives: 1) via a terminal session using command lines or 2) via a graphical user interface (GUI) such as <i>pgAdmin</i>.</p>


    <h4>Database Creation Via Command Line</h4>
    <h5>Open a terminal session.</h5>
    <ul class='regularDisplay'>
      <li>On a Mac: press [Command] [Spacebar] and enter 'Terminal' in the 'Spotlight Search' dialog that pops up. </li>
      <li>On a PC: press [Start] and enter 'CMD' in the command input box.</li>
    </ul>
    <p>This should open a terminal session where you can enter the following commands.</p>

    <h5>Prepare PostgreSQL</h5>

    <p>Most PostgreSQL installations will have automatically initialized an empty 'starter' database named <i>postgres</i>. To confirm, enter the command below. If <i>postgres</i> already exists, you'll see the 'already exists' message; if not, it will be created.</p>

    <p class='CodeRay'>
      <pre>
        <p class='code'>
          <span class='command-prompt'>-&gt; </span><span class='command-entry'> createdb postgres </i></span> <span class='command-prompt'></span>
          <span class='command-response'> createdb: database creation failed: ERROR:  database "postgres" already exists </span>
        </p>
      </pre>
    </p>

    <h5>Locate and Unzip the AACT Snapshot</h5>
    <p>Verify the location of the snapshot file - both the path and the file name. You'll need it unzip the file and then use the resulting file in the command to create and populate AACT.</p>
    <ul class='regularDisplay'>
      <li>On a Mac: The file should be <i>~/Downloads/YYYYMMDD_aact.gz</i> where YYYYMMDD represents the date the snapshot was taken.</li>
      <li>On a PC: The file should be at C:\Downloads???</li>
    </ul>

    <p class='CodeRay'>
      <pre>
        <p class='code'>
          <span class='command-prompt'>-&gt; </span><span class='command-entry'> gunzip <i>~/Downloads/YYYYMMDD_aact.gz </i></span>
        </p>
      </pre>
    </p>
    <p>This will unpack the content of the zip (gz) file, resulting in one single large SQL file that can be used to create & populate the AACT database.  The name of the resulting SQL file should be the same as the zip file, except it will have a .sql suffix.</p>

    <h5>Create and Populate a Local Instance of AACT</h5>
    <p>Enter the following command to create a database named <i>aact</i> and populate it with the clinical trial content from the snapshot file.  (It seems odd to enter <i>--dbname=postgres</i> to create a database named <i>aact</i>, but that's how it works!</p>
    <p class="note">Note: this restore can take several hours, depending on the speed of your machine.</p>

    <p class='CodeRay'>
      <pre>
        <p class='code'>
          <span class='command-prompt'>-&gt; </span><span class='command-entry'> pg_restore -e -v -O -x --dbname=postgres</i> --no-owner --create  <i>~/Downloads/YYYYMMDD_aact.sql </i></span>
        </p>
      </pre>
    </p>

    <h4>Database Creation Via Graphical User Interface</h4>
    <p><%= render 'create_db_via_gui' %></>

    <p><%= render 'download_database_errors' %></p>

  </div>
</section>
