
<section class="snapshot_archive">
  <h2>Snapshot Archive</h2>
  <ul>
    <li>
      <a href="https://s3-us-west-2.amazonaws.com/aact2/snapshots/postgres.aact2.dump.<%= Date.today.strftime('%Y%m%d') %>-07%3A00.gz"><%= Date.today.strftime('%B %e %Y') %></a>
    </li>

    <li>
      <a href="https://s3-us-west-2.amazonaws.com/aact2/snapshots/postgres.aact2.dump.<%= Date.today.strftime('%Y%m%d') %>-07%3A00.gz"><%= Date.today.strftime('%B %e %Y') %></a>
    </li>
  </ul>
</section>
