default: &default
  encoding: utf8
  adapter: postgresql
  min_messages: warning
  pool: <%= [Integer(ENV.fetch("MAX_THREADS", 5)), Integer(ENV.fetch("DB_POOL", 5))].max %>
  timeout: 5000
  username: <%= ENV.fetch("AACT_DB_SUPER_USERNAME", "") %>

development:
  <<: *default
  url:  <%= ENV.fetch("AACT_BACK_DATABASE_URL", "") %>

test:
  <<: *default
  database: aact_back_test

production:
  <<: *default
  url:  <%= ENV.fetch("AACT_BACK_DATABASE_URL", "") %>

public:
  <<: *default
  url:  <%= ENV.fetch("AACT_PUBLIC_DATABASE_URL", "") %>


