default: &default
  encoding: utf8
  adapter: postgresql
  min_messages: warning
  pool: <%= [Integer(ENV.fetch("MAX_THREADS", 50)), Integer(ENV.fetch("DB_POOL", 50))].max %>
  timeout: 5000
  #  Make sure you've created a database account for the AACT_DB_SUPER_USERNAME (default: aact) with permission to create databases.
  #  Also, add an entry for this user in the .pgpass file in the root directory of the user who run the rails apps so the app knows its password.
  username: <%= ENV.fetch("AACT_DB_SUPER_USERNAME", 'aact') %>

development:
  primary:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact
  admin:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact_admin
  public:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact_public
  staging:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact_staging    

test:
  primary:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact_test
    schema_search_path: ctgov,support,public
  admin:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact_admin_test
    schema_search_path: ctgov,support,public
  public:
    <<: *default
    host: localhost
    port: 5432
    username: <%= ENV.fetch("AACT_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    database: aact_public_test
    schema_search_path: ctgov,support,public

production:
  primary:
    <<: *default
    username: <%= ENV.fetch("AACT_DB_SUPER_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PASSWORD", '') %>
    host:  <%= ENV.fetch('AACT_HOST', 'localhost') %>
    port:  <%= ENV.fetch('AACT_PORT', 5432) %>
    database: <%= ENV.fetch('AACT_BACK_DATABASE_NAME', 'aact') %>
  admin:
    <<: *default
    username: <%= ENV.fetch("AACT_ADMIN_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_ADMIN_PASSWORD", '') %>
    host:  <%= ENV.fetch('AACT_ADMINHOST', 'localhost') %>
    port:  <%= ENV.fetch('AACT_ADMINPORT', 5432) %>
    database: <%= ENV.fetch('AACT_ADMIN_DATABASE_NAME', 'aact') %>
  public:
    <<: *default
    username: <%= ENV.fetch("AACT_PUBLIC_USERNAME", 'aact') %>
    password: <%= ENV.fetch("AACT_PUBLIC_PASSWORD", '') %>
    host:  <%= ENV.fetch('AACT_PUBLIC_HOST', 'localhost') %>
    port:  <%= ENV.fetch('AACT_PUBLIC_PORT', 5432) %>
    database: <%= ENV.fetch('AACT_PUBLIC_DATABASE_NAME', 'aact') %>

