@import "base/variables";
@import "base/library";
@import "base/grid";
@import "base/buttons";
@import "base/forms";

section.useCases {
  padding-bottom: 10px;
  section.instructions {
  }
}

#useCaseTable table, tr, td, th {
     border: 0;
}

#useCaseTable tbody tr:nth-child(odd) {
     background-color: #A3B9D2;
}

#useCaseTable tbody tr:nth-child(even) {
     background-color: #E7EDF3;
}

tr.useCaseExample {
    width: 96%;
    display: block;
    margin-bottom: 60px;
    background-color: rgb(249,249,249);
    color: $grey;
    padding: 1rem;
    @include box-shadow(3px 3px 11px $light-grey);
    margin: 1rem;
    position: relative;
    bottom: 40px;
  }

a.button {
  align: center;
}
