@import "base/variables";
@import "base/library";
@import "base/grid";
@import "base/buttons";
@import "base/forms";

.enter-label {
  font-size: 1.2rem;
}

.enter-info {
  font-size: 1.2rem;
  color: $secondary;}

#addUseCaseButton {
  padding: 1rem;
  @include box-shadow(3px 3px 11px $grey);
  font-weight: 100;
  margin:0 auto;
  display:block;
}

section.useCases {
  font-weight: 100;
  padding-bottom: 10px;
  width: 100%;
}

#useCaseTable table, tr, th {
     border: 0;
}

tbody.useCases {
  width: 96%;
}

tr.useCases {
    display: block;
    font-weight: 100;
    background-color: rgb(249,249,249);
    color: $grey;
    @include box-shadow(3px 3px 11px $grey);
    margin: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 20px;
  }

p, ul, li.useCaseInvitation {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.2;
  bottom: 10px;
}

#useCaseHeading {
  position: relative;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 20px;
  vertical-align: middle;
}

div.useCaseInfo {
  bottom: 0;
  color: $accent;
}

span.useCaseLabel {
  color: $secondary;
}

p.headingText {
  font-weight: bold;
  color: #007488;
  bottom: 0px;
}

.useCase {
  position: relative;
  width: 100%;
  //background-color: $light-grey;
  //@include box-shadow(3px 3px 11px $grey);
  padding: 2rem;
}

#galleryHeading {
  color: black;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

div.useCase {
  text-align: center;
  width: 96%;
  display: block;
  margin-bottom: 80px;
  background-color: $light-grey;
  padding: 2rem;
  @include box-shadow(3px 3px 11px $grey);
  position: relative;
  }

