@import "base/variables";
@import "base/library";
@import "base/grid";
@import "base/buttons";
@import "base/forms";

#addUseCaseButton {
  padding: 1rem;
  @include box-shadow(3px 3px 11px $grey);
  font-weight: 100;
  margin:0 auto;
  display:block;
}

section.useCases {
  font-weight: 100;
  padding-bottom: 10px;
}

#useCaseTable table, tr, td, th {
     border: 0;
}

tr.useCaseExample {
    width: 96%;
    display: block;
    font-weight: 100;
    background-color: rgb(249,249,249);
    color: $grey;
    @include box-shadow(3px 3px 11px $grey);
    margin: 1rem;
    position: relative;
    bottom: 20px;
  }

p, ul, li.useCaseInvitation {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.2;
  color: black;
  position: relative;
  bottom: 10px;
}

#useCaseHeading {
  color: black;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 20px;
}

#useCase {
  background-color: $light-grey;
  @include box-shadow(3px 3px 11px $grey);
  padding: 2rem;
}

#galleryHeading {
  color: black;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

div.useCase {
  width: 96%;
  display: block;
  margin-bottom: 80px;
  background-color: $light-grey;
  padding: 2rem;
  @include box-shadow(3px 3px 11px $grey);
  margin: 1rem;
  position: relative;
  }

