<p class="CodeRay">
  <pre>
    <p class='code'>
      <span class='command-response'>Hostname: </span><span class='command-entry'> <%= ENV["AACT_PUBLIC_HOSTNAME"] %></span>
      <span class='command-response'>Port: </span><span class='command-entry'>5432</span>
      <span class='command-response'>Database name: </span><span class='command-entry'> <%= ENV["AACT_PUBLIC_DATABASE_NAME"] %></span>
      <% if user_signed_in? %>
      <span class='command-response'>User name: </span><span class='command-entry'> <%= current_user.username %></span>
      <% else %>
      <span class='command-response'>User name: </span><span class='command-note'>(sign up/in to get a username)</span>
      <% end %>
      <span class='command-response'>Password: </span><span class='command-note'> 'your AACT password' </span>
    </p>
  </pre>
</p>

