@import "base/variables";
@import "base/library";

div.users {
  text-align: left;
  width: 96%;
  display: block;
  margin-bottom: 80px;
  padding: 4rem;
  @include box-shadow(3px 3px 11px $grey);
  position: relative;
  }

tbody.users {
  width: 96%;
}



