<div class="well">
   <h2>Direct Connect with SQL</h2>
   <ul>
     <li>Install pgAdmin3</li>
	   <li>Configure for Postgres 9.4</li>
	   <li>Select 'New Server'</li>
   </ul>
</div>

<div class="CodeRay">
   <div class="code">
     <pre>
     </pre>
   </div>
</div>
