<div class="well">
  <h2>Direct Connect with R</h2>
  <p>Install R and RStudio on your local machine.  Open an RStudio session and enter the following commands:</p>

  <div class="CodeRay">
		<div class="code">
      <pre>
<span class="command-prompt"> ></span> <span class="command-entry">install.packages('RPostgreSQL')</span>
<span class="command-response">    trying URL 'https://cran.rstudio.com/bin/macosx/mavericks/contrib/3.3/RPostgreSQL_0.4-1.tgz'</span>
<span class="command-response">    Content type 'application/x-gzip' length 306320 bytes (299 KB)</span>
<span class="command-response">    ==================================================</span>
<span class="command-response">    downloaded 299 KB</span>
<span class="command-prompt"> ></span> <span class="command-entry">library(RPostgreSQL)</span>
<span class="command-response">    Loading required package: DBI</span>
<span class="command-prompt"> ></span> <span class="command-entry">drv <- dbDriver('PostgreSQL')</span>
<span class="command-prompt"> ></span> <span class="command-entry">con <- dbConnect(drv,dbname='',host='',port=5432,user='',password='')</span>
<span class="command-prompt"> ></span> <span class="command-entry">result <- dbGetQuery(con,'select distinct study_type from studies')</span>
<span class="command-prompt"> ></span> <span class="command-entry">write.csv(result,file='r-results.csv')</span>)
			</pre>
		</div>
  </div>
</div>
