<div class="well">
   <h2>Direct Connect with SAS</h2>
    Install SAS Studio or use web-based SAS University Edition

   <ul>
	   <li>Create a SAS AWS account</li>
	   <li>Charges for EC2 Micro instances for up to 750 hours a month if you qualify for the AWS Free Tier. </li>
	   <li>Log into your Amazon account (must create one if you don't have one)</li>
	   <li>Accept terms</li>
	   <li>You'll receive email from AWS</li>

Dear AWS Marketplace Customer,
You have subscribed to the following product in AWS Marketplace:
* SAS® University Edition  sold by SAS Institute, Inc.   ...
Click first link in email which should open AWS Marketplace page that lists SAS University Edition
Copy the weird i- number that appears just to the left of the green dot (something like i-0ac11bf2).  You'll need that.
Click on the link to 'Access Software'

     <li>This prompts for username/password:</li>
	   <ul>
       <li>username:  sasdemo</li>
			 <li>password:  that weird i- number  (such as i-0ac11bf2)</li>
     </ul>

	   <li>This launches SAS</li>
		 <li>Install SAS/ACCESS Interface to PostgreSQL</li>
   </ul>
   Problem with SAS Studio:   "Although ODBC is there the way defining a connection could be a challenging one."
</div>
