<div class="logoBlock">
  <h1>AACT<span>2</span></h1>
  <%= image_tag("ab_logo.jpg", class:"logo") %>
</div>

<nav>
  <a href="#access" class="navItem">
    <i class="fa fa-plug"></i>
    <span>Connect to AACT</span>
  </a>
  <a href="#snapshots" class="navItem">
    <i class="fa fa-download"></i>
    <span>Database Download</span>
  </a>
  <a href="https://github.com/SturdyCo/aact2" target="_blank" class="navItem">
    <i class="fa fa-info"></i>
    <span>Learn About AACT</span>
  </a>
</nav>
